body {
  text-transform: uppercase;
}

h1 {
  color: $blue;
  font-family: $font-heavy;
  letter-spacing: -.1rem;
}

h2 {
  font-family: $font-heavy;
}

h3 {
  font-family: $font-regular;

  strong {
    font-family: $font-heavy;
  }
}

p {
  font-family: $font-regular;
}

span {
  display: block;
  font-family: $font-heavy;
  margin-bottom: 3.5vw;
}

label {
  font-family: $font-heavy;
}

input {
  font-family: $font-regular;
}
