
.simulador {
    background: -moz-linear-gradient(90deg, rgba(4,77,139,1)59%, rgba(255,255,255,1) 528%, rgba(255,255,255,1) 0%); /* ff3.6+ */
    background: -webkit-linear-gradient(90deg, rgba(4,77,139,1)59%, rgba(255,255,255,1) 528%, rgba(255,255,255,1) 0%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(4,77,139,1)59%, rgba(255,255,255,1) 528%, rgba(255,255,255,1) 0%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(4,77,139,1)59%, rgba(255,255,255,1) 528%, rgba(255,255,255,1) 0%); /* ie10+ */
    background: linear-gradient(0deg, rgba(4,77,139,1)59%, rgba(255,255,255,1) 528%, rgba(255,255,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#044d8b',GradientType=0 ); /* ie6-9 */

    .contenedor {
        padding: 25px 22px;

        .slider-container {
            padding: 0px;
            
            @include bp(mobile-landscape) {
                padding: 10px 0px;
            }

            .interno {
                padding: 10px 0px;
                display: flex;
                
                @include bp(mobile-landscape) {
                    padding: 30px 0px;
                }

            &#cuotas {
              padding-top: 20px;
            }

            .slider-titulo {

                h2 {
                    color: $white;
                    font-family: $font-bold;
                    text-transform: capitalize;
                    font-size: 18px;
                    padding-right: 18px;
                    padding-top: 17px;
                }

                #monto {
                    padding-right: 21px; /*!!!*/
                }
            }


            .slidecontainer {
                width: 100%;
                position: relative;

                output {
                    position: absolute;
                    transition: left .03s ease-out;
                    -webkit-transform: translate3d(0,0,0);

                    span {
                        position: absolute;                    
                        font-family: 'museo700';
                        margin-top: -10px;
                        background: transparent;
                        color: $yellow;
                        font-size: 17px;
                        transform: translateX(-50%);
                        margin-bottom: 0px;
                        
                        
                        @include bp(desktop) {
                            font-size: 20px;
                                        
                        }
                        
                        &#valor2 {
                            font-size: 17px;        
                            
                            @include bp(desktop) {
                                font-size: 20px;
                                                                        
                            }
                        }
                    }
                }    
            }
            

            .slider {
                -webkit-appearance: none;
                -moz-appearance: none;
                width: 100%;               
                height: 5px;
                border-radius: 2.5px;   
                background-color: #003664;
                outline: none;
                -webkit-transition: .2s;
                transition: opacity .2s;
                border: 0;
                margin-top: 26px;

                &:hover {
                    opacity: 1;
                }

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%; 
                    background: $white;
                    cursor: pointer;
                    border: 3.5px solid $yellow;
                }

                &::-moz-range-thumb {
                    -moz-appearance: none;                
                    width: 17px;
                    height: 17px;
                    border-radius: 50%;
                    background: $white;                
                    cursor: pointer;
                    border: 4px solid $yellow;                
                }

                &::-moz-range-track{
                    border-radius: 2.5px;   
                    background-color: $blue-simulator;
                    height: 5px;
                    outline: none;
                    -webkit-transition: .2s;
                    transition: opacity .2s;
                }
            }
        }

        .valor {
            margin-top: 16px;
            padding: 15px 0px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            h1 {
                color: $white;
                text-transform: none;
                font-family: 'museo300', sans-serif;
                font-weight: lighter;              
                font-size: 19px;
                letter-spacing: 0.5px;   
                
                @include bp(mobile-landscape) {
                    font-size: 23.5px;
                } 
            }

            span {
                margin-bottom: 0px;
                font-size: 20px;
                font-style: 900;
                color: $yellow;   

                @include bp(mobile-landscape) {
                font-size: 39px;
                } 
            }
        }

          .legales {
            font-family: 'museo300', sans-serif;
            font-size: 12px;
            font-weight: lighter;
            line-height: 1.08;
            letter-spacing: 0.3px;
            text-align: left;
            color: #ffffff;
            text-transform: none;
            opacity: .5;
            padding-top: 20px;
            text-align: justify;
          }
        }
      }    
    }
  