.bt {
  font-family: $font-heavy;
  color: $white;
  width: 100%;
  text-decoration: none;
  text-align: center;
  height: 13.87vw;
  background-color: $blue;
  display: block;
  border-radius: 5px;
  margin-top: 6.5vw;
  line-height: 14vw;
  font-size: 5vw;
  border: 0;
  text-indent: 0;
  transition: background-color .2s ease-in;
  -webkit-appearance: none;
  cursor: pointer;

  @include bp(desktop) {
    font-size: 22px;
    line-height: 60px;
    height: 57px;
    border-radius: 10px;
    margin-top: 20px;
    width: 48.8%;
  }

  &:hover {
    background-color: #00adef;
  }

  &:active {
    background-color: #00336c;
  }

  .modulo-main-02 & {
    @include bp(desktop) {
      margin-top: 170px;
    }
  }

  .modulo-main-validacion_celular & {
    margin-bottom: 20px;

    @include bp(desktop) {
      margin-top: 0;
      float: right;
    }
  }

  .modulo-main-03 & {
    @include bp(desktop) {
      float: right;
      margin-top: 30px;
    }
  }

  .modulo-main-05 & {
    float: right;
  }

  &.bt-right-06  {
    @include bp(desktop) {
      margin-top: 120px;
    }
  }

  &.bt-radio-form {
    @include bp(desktop) {
      margin-top: 50px;
      float: right;
      margin-right: 50px;
    }
  }
}
