* {
  box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6,p,ul,li,div {
  margin: 0;
  padding: 0;
}

body {
  background-color: $blue;
  position: relative;
}

.main-wrapper {
  background-color: $yellow;
  position: relative;
  z-index: 0;
}

.modulo {
  width: 100%;
  // max-width: 1090px;
  max-width: 1165px;
  margin: 0 auto;
  min-height: 100vw;
  padding: 8vw;

  @include bp(tablet-landscape) {
    padding: 5vw;
  }

  @include bp(desktop) {
    // padding: 40px 0 0;
    padding: 1.5vw;
    min-height: 454px;
  }

  @include bp(xxl) {
    max-width: 1500px;
  }
}

.modulo-top {
  color: $white;
  position: relative;

  span {
    font-size: 4vw;
    font-weight: 900;
    line-height: 0.92;
    
    @include bp(desktop) {
      font-size: 24px;

    }

    &.prestamos {
      color: #eac247;
      margin-bottom: 0px;
    }

    &.sin-moverte {
      color: #ffffff;
    }

    @include bp(desktop) {
      margin-bottom: 10px;
    }

  }

  .logo {
    display: none;
    
    @include bp(desktop) {
      display: block;
      margin-left: -32px;
      margin-top: -80px;
      width: 830px;
      // width: 45vw;
    }
  }

  .logo-mobile {
    display: block;
    margin-left: -4.5vw;
    margin-top: -2vw;
    width: 53vw;
    
    @include bp(desktop) {
      display: none;
    }
  }

  .pareja {
    position: absolute;
    right: 6vw;
    width: 55vw;
    top: 20vw;
    -webkit-filter: drop-shadow(3px 0px 30px #fff);
    -moz-filter: drop-shadow(3px 0px 30px #fff);    
    filter: drop-shadow(3px 0px 30px #fff);

    @include bp(desktop) {
      -webkit-filter: drop-shadow(35px -80px 90px #fff);
      -moz-filter: drop-shadow(35px -80px 90px #fff);    
      filter: drop-shadow(35px -80px 90px #fff);  
      top: 70px;
      width: 38%;
      right: 10px;
    }

    @include bp(desktop-s) {
      right: 0px;
      top: 12px;
    }
  }

  h1 {
    color: $white;
    font-family: $font-light;
    width: 70vw;
    font-size: 9vw;
    line-height: 8.5vw;
    margin-bottom: 1vw;

    @include bp(desktop) {
      font-size: 60px;
      line-height: .95;
    }

    strong {
      font-family: $font-heavy;

      @include bp(desktop) {
        font-size: 62px;
        display: block;
      }
    }
  }

  h2 {
    font-family: $font-light;
    font-size: 4vw;
    width: 30vw;
    line-height: 5vw;

    @include bp(desktop) {
      font-size: 26px;
      line-height: .6;
      width: auto;
    }
  }
}

.modulo-top__tarjeta {
  background-color: $blue;
  box-shadow: 0px 3px 80px 0 rgba(34, 31, 31, 0.44); 
  border-radius: 10px;
  margin-bottom: 8vh;
  margin-top: -5vh;

  @include bp(desktop) {
    position: absolute;
    left: 18px;
    width: 370px;
    height: 490px;
    bottom: -46px;
  }
}

.modulo-main {
  transform: translateY(-26.5vw);
  padding-top: 0;
  margin-bottom: -16vw;
  
  @include bp(desktop) {
    transform: translateY(-193px);
    padding-left: 430px;
    padding-right: 19px;
    margin-bottom: -120px;
    margin-top: 58px;
  }

  h1 {
    font-size: 8.5vw;

    @include bp(tablet-landscape) {
      font-size: 6.5vw;
    }

    @include bp(desktop) {
      font-size: 37px;
    }

    &.simula {
      color: $white;
      text-align: left;
      text-transform: none;
      font-size: 6.7vw;
      font-family: $font-light;
      letter-spacing: 1px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding-bottom: 22px;

      @include bp(desktop) {
        font-size: 30px;
      }
    }

    &.pedila {
      color: $blue;
      text-align: left;
      text-transform: none;
    }

    &.recibida {
      font-size: 30px;
    }
  }


  .modulo-main--inner {
    transform: translateY(-30vw);
    color: $blue;

    @include bp(desktop) {
      transform: translateY(-270px);
      margin-bottom: 0;
    }

    &.modulo-main-02,
    &.modulo-main-03,
    &.modulo-main-04,
    &.modulo-main-05,
    &.modulo-main-06,
    &.modulo-main-07,
    &.modulo-main-09,
    &.modulo-main-10 {
      @include bp(desktop) {
        margin-bottom: -50px;
        transform: translateY(-130px);
      }
    }

    &.modulo-main-validacion_celular {
      p {
        font-size: 5vw;

        b {
          font-family: $font-heavy;
        }
      }

      @include bp(desktop) {

        p {
          font-size: 24px;
        }

        form {

          .field-container {
            display: flex;

            input[type="text"] {
              height: 56px;
            }

            input[type="submit"] {
              width: 400px;
              margin-left: 5px;
              margin-bottom: 0;
            }
          }
        }

        .form-error-message {
          margin-bottom: 20px;
          
          .val-error-box {
            float: left;
          }
        }
      }
    }

    &.modulo-main-03{
      @include bp(desktop) {
        margin-bottom: -230px;
      }
    }

    &.modulo-main-04 {
      @include bp(desktop) {
        margin-bottom: -80px;
      }
    }

    &.modulo-main-05 {
      margin-bottom: 0;

      @include bp(desktop) {
        margin-bottom: 20px;
      }
    }

    &.modulo-main-06 {

      @include bp(desktop) {
        margin-bottom: -50px;
      }
    }

    &.modulo-main-07,
    &.modulo-main-09 {

      @include bp(desktop) {
        margin-bottom: -130px;
      }
    }

    &.modulo-main-10 {

      @include bp(desktop) {
        margin-bottom: 50px;
      }

      h3 {
        font-size: 6.7vw;
        margin-bottom: 5vw;

        @include bp(desktop) {
          font-size: 25px;
          margin-bottom: 20px;
        }

        strong {
          display: block;

          @include bp(desktop) {
            display: inline;
          }
        }
      }

      p strong {
        display: block;
        font-family: $font-heavy;
      }

      .modulo-fin {
        @include bp(desktop) {
          margin-top: 50px;
          position: relative;
        }
      }

      .recordatorio {
        margin: 2vw 0 6vw;

        @include bp(desktop) {
          width: 365px;
          float: right;
        }
      }

      .pareja {
        @include bp(desktop) {
          float: left;
          width: 400px;
          position: absolute;
          z-index: -1;
        }
      }

      .bt {
        @include bp(desktop) {
          float: right;
          position: absolute;
          right: 0;
          top: 160px;
        }
      }
    }

    h1 {
      font-size: 8.5vw;
      margin-bottom: 4vw;

      @include bp(tablet-landscape) {
        font-size: 6.5vw;
      }

      @include bp(desktop) {
        font-size: 42px;
        margin-bottom: 10px;
      }
    }

    p {
      text-transform: none;
      font-family: $font-regular;
      font-size: 5.5vw;
      margin-bottom: 4vw;

      @include bp(desktop) {
        font-size: 24px;
        margin-bottom: 10px;
      }

      &.mod-05 {
        line-height: 1.2;

        strong {
          font-family: $font-heavy;
          text-transform: uppercase;
          display: inline-block;
          clear: left;
        }

        span {
          display: inline;
          font-family: $font-regular;
          margin-bottom: 30px;

          @include bp(desktop) {
            display: block;
          }
        }
      }
    }

    h2 {
      font-size: 5vw;
      margin-bottom: 7vw;

      &.mod-04 {
        margin-bottom: 4vw;

        @include bp(desktop) {
          float: left;
          margin-right: 10px;
          margin-top: -1px;
        }
      }

      @include bp(desktop) {
        font-size: 24px;
        margin-bottom: 20px;
      }
    }

    .llamanos {
      background-color: $blue;
      width: 100%;
      height: 17vw;
      border-radius: 5px;
      margin: 7vw 0;
      position: relative;
      display: block;

      @include bp(desktop) {
        width: 350px;
        height: 80px;
        border-radius: 10px;
        margin: 35px 0;
      }

      img {
        width: 14vw;
        height: 10vw;
        position: absolute;
        top: 3.6vw;
        left: 9vw;

        @include bp(desktop) {
          width: 50px;
          height: 70px;
          top: 4px;
          left: 33px;
        }
      }

      span {
        color: $white;
        font-size: 5vw;
        line-height: 1.2;
        font-family: $font-regular;
        position: absolute;
        top: 2.7vw;
        left: 23vw;

        @include bp(desktop) {
          font-size: 24px;
          top: 11px;
          left: 96px;
        }

        strong {
          font-family: $font-heavy;
          letter-spacing: .8px;
        }
      }
    }

    .p-mod-04 {
      @include bp(desktop) {
        width: 530px;
        margin-bottom: 30px;
      }
    }

    .h2-mod-04 {
      @include bp(desktop) {
        font-size: 30px;
      }
    }

    .importe-cont {
      overflow: hidden;
    }

    .importe-total {
      background-color: $white;
      border: 2px solid $blue;
      width: 100%;
      height: 22vw;
      border-radius: 5px;
      margin: 7vw 0 4vw;
      font-family: $font-heavy;
      text-align: center;
      font-size: 13vw;
      line-height: 1.7;

      sup {
        font-size: 5vw;
        font-family: $font-regular;
        display: inline-block;
        vertical-align: top;
        line-height: 2.5;

        @include bp(desktop) {
          font-size: 25px;
        }
      }

      @include bp(desktop) {
        width: 355px;
        height: 95px;
        border-radius: 10px;
        margin: 0 15px 0 0;
        font-size: 60px;
        float: left;
      }
    }

    .importe-disclaimer {
      font-size: 3.1vw;

      @include bp(desktop) {
        font-size: 18px;
        width: 250px;
        float: left;
        margin-top: 28px;
      }
    }

    .importe-cuotas {
      margin: 7vw 3vw 5vw;
      font-size: 5.5vw;
      display: block;

      &::before {
        content: "";
        width: 1.6vw;
        height: 1.5vw;
        border-radius: 50%;
        background-color: $blue;
        display: inline-block;
        margin-left: -11px;
        vertical-align: middle;
        margin-right: 1.5vw;

        @include bp(desktop) {
          width: 7px;
          height: 7px;
          margin-left: 0;
          margin-right: 6px;
        }
      }

      @include bp(desktop) {
        font-size: 22px;
        margin: 35px 0 20px;
      }


      strong {
        font-family: $font-regular;

        @include bp(desktop) {
          margin-left: 14px;
        }
      }
    }

    .promos-marcas-sm {
      margin: 7vw auto;

      @include bp(desktop) {
        display: none;
      }
    }

    .promos-marcas-lg {
      display: none;

      @include bp(desktop) {
        display: block;
        margin: 30px auto 50px;
      }
    }

    .paso-3 {
      font-family: $font-regular;
      margin-bottom: 8vw;

      @include bp(desktop) {
        margin-bottom: 40px;
      }

      strong {
        font-family: $font-heavy;
        text-transform: uppercase;
      }
    }
  }

  h2.subtitle {
    margin-bottom: -3.5vw;
    clear: both;
    display: block;

    @include bp(desktop) {
      margin-bottom: -15px;
      font-size: 17px;

      &.subtitle--domicilio {
        margin-bottom: 15px;
      }
    }
  }

  .mid-container-mod-form {
    margin-bottom: 12vw;
    font-size: 3.5vw;
    width: 100%;

    @include bp(desktop) {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-bottom: 25px;
      font-size: 17px;
    }

    .placeholder {
      font-size: 3.5vw;

      @include bp(desktop) {
        font-size: 17px;
      }
    }

    h2 {
      font-size: 4.5vw;
      margin-bottom: -3vw;

      @include bp(desktop) {
        font-size: 17px;
        margin-bottom: 20px;
      }
    }

    &.domicilio {

      .text-field,
      .placeholder {
        font-family: $font-regular;
      }

      .placeholder {
        @include bp(desktop) {
          top: 18px;

          &.active {
            top: 16px;
          }
        }
      }

      .wrapper-dropdown span {
        font-family: $font-regular;
      }
    }

    .field-container {
      @include bp(desktop) {
        width: 48.8%;
      }

      &.inner-dropdown {
        @include bp(desktop) {
          margin-top: 13px;
        }

        &.short-field {
          width: 48.8%;
          display: inline-block;
          float: none;

          &.tipo-telefono {
            float: right;
          }
        }
      }
    }
  }

  .wrapper-datos-domicilio {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 6.5vw;

    @include bp(desktop) {
      width: 48.8%;
      margin-bottom: 18px;
    }

    .placeholder {
      @include bp(desktop) {
        text-indent: 10px;
      }
    }

    .nro {
      width: 26%;
    }

    .piso {
      width: 16%;
    }

    .dto {
      width: 21%;
    }

    .cp {
      width: 30%;
    }

    .nro,
    .piso,
    .dto,
    .cp {
      .placeholder {
        font-size: 3.4vw;
        top: 5.4vw;

        @include bp(desktop)  {
          font-size: 17px;
          top: 18px;
        }

        &.active {
          font-size: 2.7vw;
          top: 2vw;

          @include bp(desktop) {
            top: 13px;
            font-size: 11px;
          }
        }
      }
    }
  }

  .telefono-alt-cont {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    @include bp(desktop) {
      width: 48.8%;
    }

    .field-container:nth-child(1) {
      width: 22%;
    }

    .field-container:nth-child(2) {
      width: 74%;
    }

    .placeholder {
      font-family: $font-regular;
    }
  }

  .tel-alt-wrapper {
    &::after {
      content: "";
      display: table;
      clear: both;
    }

    .inner-dropdown {
      width: 48.8%;
      display: inline-block;
      margin-top: 3vw;

      &:nth-child(1) {
        float: left;
      }

      &.tipo-telefono {
        float: right;

        .wrapper-dropdown span {
          line-height: 1.4;
          font-size: 4.25vw;
          width: 24vw;
          text-indent: 0;
          position: relative;
          top: 1.7vw;
          left: 4vw;

          @include bp(desktop) {
            font-size: 17px;
            line-height: inherit;
            width: auto;
            text-indent: inherit;
            position: initial;
          }
        }
      }
    }

    .wrapper-dropdown span {
      font-family: $font-regular;
    }
  }

  .e-resumen {
    @include bp(desktop) {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    .checkbox-container {
      margin: 0;

      &::after {
        content: "";
        display: table;
        clear: both;
      }

      @include bp(desktop) {
        width: 48.8%;
      }

      &:nth-child(1) {
        [type="checkbox"]:not(:checked) + label,
        [type="checkbox"]:checked + label {
          line-height: 2.2;
        }

        @include bp(desktop) {
          order: 1;
        }
      }

      &.last {
        margin-bottom: 12vw;

        @include bp(desktop) {
          order: 2;
          margin-bottom: 0;
        }

        [type="checkbox"]:not(:checked) + label,
        [type="checkbox"]:checked + label {
          @include bp(desktop) {
            width: 300px;
          }
        }
      }

      [type="checkbox"]:not(:checked) + label,
      [type="checkbox"]:checked + label {
        font-family: $font-heavy;
        padding-left: 11vw;
        width: 60vw;

        @include bp(desktop) {
          padding-left: 60px;
          font-size: 17px;
        }
      }

      [type="checkbox"]:not(:checked) + label:before,
      [type="checkbox"]:checked + label:before {
        border: 2px solid $blue;
        width: 7.5vw;
        height: 7.5vw;
        border-radius: 50%;
        top: -1vw;

        @include bp(desktop) {
          width: 42px;
          height: 42px;
          top: -7px;
        }
      }

      [type="checkbox"]:not(:checked) + label:after,
      [type="checkbox"]:checked + label:after {
        top: 1.3vw;
        left: 2.1vw;

        @include bp(desktop) {
          top: 7px;
          left: 15px;
        }
      }
    }

    .field-container {
      margin-bottom: 7vw;

      @include bp(desktop) {
        order: 3;
        margin-bottom: 50px;
      }
    }

    .bt {
      @include bp(desktop) {
        order: 4;
      }
    }
  }

  .modulo-contenido {
    padding-top: 4.5vw;
    
    @include bp(desktop-d) {
    padding-top: 2.9vw;
    }
    // @include bp(large-desktop) {
    //   padding-top: 3.2vw;
    // }
    // @include bp(xl) {
    //   padding-top: 2.9vw;
    // }
  }
}