.respuesta-simulador {
    border-top: none !important;
    margin-top: 0px !important;

    #cifra-prestamo, #cant-cuotas {
        font-size: 30px;
    }
}

.solicitud-prestamo {
    color: $blue;
    display: none;

    h1{
        font-size: 9vw;
        display: flex;
        @include bp(tablet){
            font-size: 36px;
        }
        
        span {
            margin: 0px;
        }
    }

    .recibido {
        font-family: 'museo900';
        font-size: 20px;
        margin-top: 10px;

    }
    
    .mensaje {
        font-family: 'museo700';
        font-size: 20px;
        text-transform: none;
        border: 2px solid $blue;
        border-radius: 17px;
        padding: 22px 20px;
        margin-top: 32px;

        @include bp(tablet){
            width: 78%;
        }

        strong {
            font-family: 'museo900';        
        }
        
        &.negativo {

            @include bp(tablet){
                width: 90%;
            }
        }

        &.mas-informacion {
            border: none;
            padding: 0px;

            @include bp(tablet){
                width: 80%;
            }
        }
    }
    
    .gracias {
        text-align: center;
        margin-bottom: 52px;

        @include bp(tablet) {
            text-align: left;
            margin-bottom: 10px;   
        }
    }


    h2 {
        margin: 30px 0 50px 0;        
        text-align: center;
        
        @include bp(tablet) {
            margin: 30px 0 100px 0;
            text-align: left;
        }
    }

    button {
        text-transform: uppercase;
        font-size: 3vw;
        font-family: 'museo300';
        cursor: pointer;
        margin-right: 0px;
        margin-left: auto;
        bottom: 0px;
        width: 100%; 
        border-radius: 10px;

        @include bp(desktop){
            width: 49%; 
            font-size: 16px;
        }
        
        @include bp(desktop-d){
            width: 41%; 
        }
        
        a {
            color: $white;
            text-decoration: none;
        }

        strong {
            font-family: 'museo900';
        }

        &.sucursales {

            @include bp(tablet){
                width: 33%;
            }
        }
    }
}