.modulo-form {
  @include bp(desktop) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &.radio-form {
    @include bp(desktop) {
      display: block;
    }
  }
}

.field-container {
  width: 100%;
  margin-top: 6.5vw;
  position: relative;
  clear: both;

  @include bp(desktop) {
    width: 48.8%;
    margin-top: 18px;
  }

  &.inner-dropdown {
    position: initial;
    float: left;
    width: 100%;

    @include bp(desktop) {
      margin-top: 28px;
      width: 48.8%;
    }
  }
}

.placeholder {
  position: absolute;
  z-index: 2;
  color: $blue;
  text-transform: uppercase;
  font-family: $font-heavy;
  font-size: 4.25vw;
  text-indent: 3.5vw;
  top: 4.5vw;
  transition: all .2s ease-in;

  @include bp(desktop) {
    font-size: 17px;
    text-indent: 20px;
    top: 16px;
  }

  &.active {
    font-size: 3vw;
    top: 2vw;
    left: .7vw;
    color: gray;

    @include bp(desktop) {
      font-size: 11px;
      top: 10px;
      left: 0px;
    }

    &.error-label {
      color: red;
    }
  }

  .email-terms & {
    top: 8.1vw;

    @include bp(desktop) {
      top: 16px;
    }

    &.active {
      top: 6vw;

      @include bp(desktop) {
        top: 10px;
      }
    }
  }

  &.area {
    text-indent: 8vw;

    @include bp(desktop) {
      text-indent: 28px;
    }
  }

  &.celular {
    text-indent: 10vw;

    @include bp(desktop) {
      text-indent: 40px;
    }
  }
}

.input-inner-wrap {
  position: relative;
}

.text-field,
.email-terms {
  padding-top: 3.5vw;

  @include bp(desktop) {
    padding-top: 17px;
    text-indent: 18px;
  }
}

.email-terms {
  @include bp(desktop) {
    padding-top: 0;
    text-indent: 0;
  }
}

input {
  background-color: $white;
  border: 0;
  border-radius: 5px;
  height: 13.87vw;
  width: 100%;
  font-size: 5vw;
  text-indent: 3vw;
  color: $blue;
  text-transform: uppercase;
  font-family: $font-heavy;
  font-size: 4.25vw;
  text-indent: 3.5vw;
  border: 1px solid $white;
  transition: border-color .5s ease-out;

  @include bp(desktop) {
    font-size: 17px;
    height: 50px;
    text-indent: 20px;
    border-radius: 10px;
  }

  &:focus {
    border-color: $blue;
    outline: none;
  }

  &.error {
    border: 2px solid red;
    color: red;
  }
}

label.error {
  text-transform: none;
  color: red;
  font-family: $font-regular;
  font-size: 3vw;

  @include bp(desktop) {
    font-size: 12px;
  }
}

::-webkit-input-placeholder {
  color: $blue;
}

::-moz-placeholder {
  color: $blue;
}

:-ms-input-placeholder {
  color: $blue;
}

:-moz-placeholder {
  color: $blue;
}

.telefono-container {
  width: 100%;

  @include bp(desktop) {
    width: 48.8%;
  }

  .field-container {
    width: auto;
    display: inline-block;

    &.area {
      @include bp(desktop) {
        width: 100px;
      }
    }

    &.celular {
      @include bp(desktop) {
        width: 222px;
      }
    }
  }
}

.input-area {
  width: 20.8vw;

  @include bp(desktop) {
    width: 70px;
    text-indent: 10px;
  }
}

.input-celular {
  width: 50.15vw;

  @include bp(desktop) {
    width: 89%;
  }
}

.input-wrapper {
  width: 100%;

  @include bp(desktop) {
    overflow: hidden;
  }
}

.input-inner-wrap {
  float: right;

  @include bp(desktop) {
    width: 64%;
    text-align: right;
  }
}

.input-prefix {
  color: #004794;
  font-size: 4vw;
  font-weight: bold;
  display: inline-block;
  margin-right: .5vw;

  @include bp(desktop) {
    font-size: 17px;
    margin: 0;
    margin-right: 3px;
  }

  &.area {
    @include bp(desktop) {
      display: inline-block;
      vertical-align: top;
      margin-top: 16px;
    }
  }

  &.celular {
    @include bp(desktop) {
       float: left;
       display: inline-block;
       margin-top: 16px;
    }
  }
}

// DROPDOWN

::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}

.dropdown-label {
  font-size: 4vw;
  margin-bottom: 4vw;
  display: block;

  @include bp(desktop) {
    font-size: 17px;
    margin-bottom: 15px;
    display: block;
    min-height: 40px;
    padding-right: 20px;
  }
}

.inner-dropdown {
  .wrapper-dropdown {
    margin-top: 2vw;

    @include bp(desktop) {
      margin-top: 10px;
      width: 100%;
    }
  }
}

.wrapper-dropdown {
  position: relative;
  width: 100%;
  height: 13.87vw;
  margin-top: 6.5vw;
  background: #FFF;
  border-radius: 5px;
  color: #004794;
  font-family: $font-regular;
  text-indent: 3.5vw;
  line-height: 14.4vw;
  font-size: 4.25vw;
  outline: none;
  cursor: pointer;

  @include bp(desktop) {
    font-size: 17px;
    height: 50px;
    text-indent: 20px;
    margin-top: 18px;
    line-height: 50px;
    border-radius: 10px;
    width: 48.8%;
  }

  span {
    font-family: $font-heavy;
  }
}

.wrapper-dropdown:after {
  border-right: solid 2px #004794;
  border-top: solid 2px #004794;
  content: '';
  display: block;
  height: 4vw;
  position: absolute;
  right: 5vw;
  top: 3.5vw;
  width: 4vw;
  transform: rotate(135deg);

  @include bp(desktop) {
    height: 15px;
    width: 15px;
    top: 14px;
    right: 20px;
  }
}

.wrapper-dropdown .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: -7px;

  /* Styles */
  background-color: #f4f4f4;
  padding: 14px;
  border: 2px solid $white;
  border-top: 6px solid $white;
  list-style: none;
  font-weight: normal;
  max-height: 230px;
  overflow-y: scroll;
  padding-top: 5px;

  /* Hiding */
  opacity: 0;
  pointer-events: none;
}

.wrapper-dropdown .dropdown li a {
  display: block;
  text-decoration: none;
  color: #545454;
  font-family: $font-regular;
  text-indent: 5px;
  font-size: 14px;
  border-bottom: 1px solid $white;
  line-height: 3;
  transition: background-color .2s ease-in;
  cursor: pointer;

  &:hover {
    background-color: red;
  }
}

/* Hover state */
.wrapper-dropdown .dropdown li:hover a {
  background: #f3f8f8;
}

/* Active state */
.wrapper-dropdown.active .dropdown {
  opacity: 1;
  pointer-events: auto;
  margin-top: -7px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 30;
  position: absolute;

  @include bp(desktop) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.wrapper-dropdown.active:after {
  transform: rotate(315deg);
  top: 5.5vw;

  @include bp(desktop) {
    top: 20px;
  }
}

.wrapper-dropdown.active {
  background: #FFF;
}

.fecha-nacimiento-cont {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-top: 6.5vw;

  @include bp(desktop) {
    width: 48.8%;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .inner-dropdown {
    width: 35%;
    margin: 0 5px;

    &:first-child {
      margin-left: 0;
    }

    &:nth-child(2) {
      width: 55%;
    }

    &:last-child {
      width: 38%;
    }
  }
}

.email-terms {
  @include bp(desktop) {

    input {
      width: 100%;
    }
  }
}

/* CHECKBOX */
.checkbox-container {
  margin-bottom: 20vw;
  margin-top: 5vw;
  position: relative;
  z-index: 0;

  @include bp(desktop) {
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.checkbox-container {
  
  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: -4px;
    right: 0;
    bottom: 0;
    left: -4px;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    background: #ffffff;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 1;
    border: 0;
    float: left;
           
    &.error {
      border: 1px solid red;           
    }
        
    @include bp(tablet) {
      height: 40px;
      width: 40px;     
    }
      
    @include bp(desktop) {
      border-radius: 7px;
      height: 22px;
      width: 22px;     
    }
    
    &:hover {
      opacity: .8;
    }
  
    &:checked {
      background: #ffffff;
    }
  
    &:checked::before {
      height: 38px;
      width: 34px;
      position: absolute;
      content: '✔';
      display: inline-block;
      font-size: 24px;
      text-align: center;
      line-height: 40px;
      color: #004682; 
      right: 2px;
      bottom: -5px;
  
      @include bp(mobile-landscape){
        font-size: 30px;    
        bottom: -4px;
        right: 15px;
      } 
        
      @include bp(tablet){
        font-size: 30px;    
        bottom: 0px;
        right: 27px; 
      }
  
      @include bp(desktop){
        font-size: 22px;    
        bottom: -10px;
        right: 5px;      
      }
  
      @include bp(desktop-d){
        font-size: 22px;
        bottom: -9px;
      }
    }
    
    &:checked::after {
      -webkit-animation: click-wave-shorter 0.70s;
      -moz-animation: click-wave-shorter 0.70s;
      animation: click-wave-shorter 0.70s;
      background: #ffffff;
      content: '';
      display: block;
      position: relative;
      z-index: 100;
    }

    &.radio {
      border-radius: 50%;
    }

    &.radio::after {
      border-radius: 50%;
    } 
  }
   
  .checkbox-text{
    position: relative;
    padding-left: 2vw;
    cursor: pointer;
    text-transform: uppercase;
    font-family: $font-bold;
    color: $blue;
    font-size: 3.4vw;
    float: left;   
     
    @include bp(desktop) {
      font-size: 10px;
      padding-left: 0px;
      padding-bottom: 0px;
    }
    
    a {
      color: $blue;
      font-family: $font-heavy;
    }
  }
}

// RECAPTCHA

#recaptcha-style {
  width: 100%;
  border-radius: 0;
  padding: 5px;

  @include bp(desktop) {
    width: 48.8%;
  }

  .g-recaptcha {
    margin-top: 6.5vw;

    @include bp(desktop) {
      margin-top: 10px;
    }

    .rc-anchor-light {
      margin-top: 6.5vw;
      background: white!important;
      border: 0!important;
      color: #000!important;
      border-radius: 0;
      box-shadow: none!important;
      width: 440px!important;
    }
  }

  iframe {
    position: relative;
  }
}

.rc-anchor-normal {
  width: 297px!important;
}

#recaptcha-style > div {
  border-radius: 0;
  overflow: hidden;
  width: 100%!important;

  @include bp(desktop) {
    border-radius: 0;
    width: 361px!important;
    margin-top: 28px;
  }
}

.val-error-box {
  background-color: red;
  color: #FFF;
  font-size: 2.9vw;
  font-family: $font-regular;
  margin: 6vw 0;
  line-height: 12vw;
  text-align: center;
  border-radius: 5px;

  @include bp(desktop) {
    font-size: 12px;
    line-height: 4.8;
    margin: 0;
    width: 48.8%;
    float: right;
    border-radius: 10px;
    margin-top: 9px;
  }
}

.form-error-message {

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &.inner-msg {
    @include bp(desktop) {
      width: 100%;
      position: relative;
      top: -66px;
      left: -383px;

      .main-08  & {
        top: -66px;
        width: 94%;
      }

      .modulo-main-07 & {
        top: -91px;
      }
    }
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

// RADIO BUTTONS
.radio-container {
  color: $blue;
  display: block;
  position: relative;
  float: left;
  margin-bottom: 3vw;
  height: 10vw;

  @include bp(desktop) {
    height: 45px;
    margin-bottom: 50px;
  }

  &.last {
    margin-bottom: 10vw;

    @include bp(desktop) {
      margin-bottom: 0;
    }
  }
}

.radio-container input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.radio-container label {
  display: block;
  position: relative;
  font-size: 3.7vw;
  padding: 0 0 0 11vw;
  margin: 2vw auto;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;

  @include bp(desktop) {
    font-size: 19px;
    padding: 0 0 0 60px;
    margin: 13px auto;
  }

  &.long {
    @include bp(desktop) {
      width: 330px;
      margin: 0;
    }
  }
}

.radio-container .check{
  display: block;
  position: absolute;
  border: 2px solid $blue;
  border-radius: 100%;
  height: 8.6vw;
  width: 8.7vw;
  top: 0;
  left: 0;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;

  @include bp(desktop) {
    height: 44px;
    width: 44px;
  }
}

.radio-container .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 3.1vw;
  width: 3.1vw;
  top: 2.4vw;
  left: 2vw;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;

  @include bp(desktop) {
    height: 15px;
    width: 15px;
    top: 13px;
    left: 12px;
  }
}

input[type=radio]:checked ~ .check {
  border: 2px solid $blue;
}

input[type=radio]:checked ~ .check::before{
  background: $blue;
}

input[type=radio]:checked ~ label{
  color: $blue;
}

.telefono-tipo-vinculo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .inner-dropdown {
    width: 48.8%;
  }
}

.modulo-main-carga {
  min-height:240px;
}
.preloader {
  background:#fff;
  border-radius:20px;
  max-width:720px;
  margin-top:10vw;
  padding:7vw 5vw 7vw;

  @include bp(tablet) {
      margin-top:106px;
      padding:50px 30px 70px;
  }
  @include bp(desktop) {
      margin-top:36px;
  }

   @include bp(desktop-s) {
      margin-top:56px;
  }

  p {
    color: #004990;
    margin-bottom:30px;
    text-transform: none;
    font-size:18px;  
  }

  .loader {
    height: 6px;
    border-radius:10px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
  }

  .loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 6px;
    background-color: #00acec;
    animation: loading 2s linear infinite;
  }

  @keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
  }
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }

  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

@keyframes click-wave-shorter {
  0% {
    height: 22px;
    width: 22px;
    opacity: .35;
    position: relative;
  }

  100% {
    height: 70px;
    width: 70px;
    margin-left: -23px;
    margin-top: -27px;
    opacity: 0;
    border-radius: 12px;
  }
}

.question {
  margin: 7vw 0px;
  width: 100%;
  display: block;
  font-family: 'museo900';
  letter-spacing: -0.4px;
  text-align: left;
  color: #004682;
  
  @include bp(desktop) {
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .question-inside {
    display: block;
    
    @include bp(desktop) {
      display: flex;    
    }

    label {
      display: block;
      font-size: 4.5vw;
      
      @include bp(desktop) {
        font-size: 15px;
      }
  
      @include bp(desktop-s) {
        font-size: 16px;
      }
    }
  }

  .yes, .no {
    font-size: 4.5vw;
    
    @include bp(mobile) {
      display: inline-block;  
      margin-right: 20px;  
    }

    @include bp(desktop) {
      display: flex; 
      font-size: 15px;   
      align-content: center;
      margin-right: 0px;
    }
    
    @include bp(desktop-s) {
      font-size: 16px;        
    }

    .answer {
      display: flex;
      align-items: center;
    
        .option-input {
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          -o-appearance: none;
          appearance: none;
          position: relative;
          top: -3px;
          right: 0;
          bottom: 0;
          left: 0;
          height: 40px;
          width: 40px;
          transition: all 0.15s ease-out 0s;
          background: #ffffff;
          border: 3px solid #004682;
          color: #ffffff;
          cursor: pointer;
          display: inline-block;
          margin-left: 6px;
          outline: none;
          position: relative;
          z-index: 1;

          &.error {
            border: 2px solid red;             
          }
      
          @include bp(tablet) {
            height: 50px;
            width: 50px;     
          }
      
          @include bp(desktop) {
            height: 39px;
            width: 39px;     
          }
        }

        .option-input:hover {
          opacity: .8;
        }

        .option-input:checked {
          background: #ffffff;
        }

        .option-input:checked::before {
          height: 45px;
          width: 45px;
          position: absolute;
          content: '✔';
          display: inline-block;
          font-size: 26.66667px;
          text-align: center;
          line-height: 40px;
          color: #004682; 
          right: 4px;
          bottom: -10px;
        }
      
        .option-input:checked::after {
          -webkit-animation: click-wave 0.70s;
          -moz-animation:  click-wave 0.70s;
          animation:  click-wave 0.70s;
          background: #ffffff;
          content: '';
          display: block;
          position: relative;
          z-index: 100;
        }
        .option-input.radio {
          border-radius: 50%;
        }
        .option-input.radio::after {
          border-radius: 50%;
        }
      }
    }
  }

#terms-out {
  margin-top: 0px;
}