footer {
  height: 43vw;
  width: 100%;
  background-color: $blue;
  border-top: 8px solid $red;
  position: relative;
  text-transform: none;
  text-align: left;

  @include bp(tablet) {
    height: 20vw;
  }

  @include bp(desktop) {
    height: 110px;
  }
}

.footer__tarjeta {
  position: absolute;
  transform: translateX(-50%);
  // width: 150px;
  margin-left: -14vw;
  top: -13vw;
  width: 58vw;
  
  // @include bp(desktop) {
    // top: -30px;
    // margin-left: -80px;
    // width: 32vw;
  // }

  @include bp(tablet) {
    top: -6.5vw;
    margin-left: -10vw;
    width: 31vw;
  }
}

.footer-container {
  max-width: 1165px;
  margin: 0 auto;
  padding: 0px 0px 0px 30vw;


  @include bp(tablet) {
    padding: 0px 6vh 0px 18vw;
  }

  @include bp(desktop) {
    padding: 0px 0px 0px 15vw;
  }

  // @include bp(desktop-d) {
  //   padding: 0px 0px 0px 13vw;
  // }

  .footer__copy {
    color: $white;
    font-size: 3.5vw;
    font-family: $font-regular;
    margin: 1.5vw auto 0;
    display: inline-block;

    @include bp(mobile) {
      font-size: 14px;
    }  
    
    @include bp(mobile-landscape) {
      font-size: 18px;
      margin-bottom: 10px; 
    }

    @include bp(tablet) {
      font-size: 18px;
      margin-bottom: 10px;
    }

    @include bp(desktop) {
      font-size: 17px;
    }

    @include bp(desktop-d) {
      font-size: 16px;
    }

    a {
      display: block;
      text-decoration: none;
      color: $white;
      font-family: $font-bold;

      @include bp(desktop) {
        display: inline;
      }
    }
  }

  .small-desktop {
    font-size: 14px;
    font-style: $font-light;
    text-align: left;
    color: #ffffff;
    opacity: .6;
    padding-top: 0px; 
    display: block;
    position: relative;
    text-align: justify;

    @include bp(mobile) {
      display: none;
    }

    @include bp(mobile-landscape) {
      display: none;
    }   
    @include bp(tablet) {
      display: block;
    }   
  }
}

  
.small-mobile {
  font-size: 14px;
  font-style: $font-light;
  text-align: left;
  color: #ffffff;
  opacity: .6;
  padding: 0px 30px 10px 30px; 
  display: block;
  position: relative;
  top: 0px;

  @include bp(mobile-landscape) {
    display: block;
    top: 20px;
    padding: 0px 55px 10px 55px; 
  
  }

  @include bp(tablet) {
    display: none;
  }
}

#terms {
  width: 90%;
  margin: 4vw auto;
  color: white;
  font-size: 3.5vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  text-align: left;
  text-align: justify;

  p {
    font-style: $font-light;
     b {
       font-style: $font-regular;
     }
  }

  &.open {
    max-height: 100vh;
  }

  @include bp(mobile-landscape) {
    font-size: 10px;
    margin: 15px auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40vw;
  }

  @include bp(tablet) {
    font-size: 10px;
    margin: 15px auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 23vw;
  }

  @include bp(desktop) {
    font-size: 10px;
    margin: 15px auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 140px;
  }
}