header {
  position: relative;

  .bg {
    position: absolute;
    width: 100%;
    z-index: -1;
    background-color: $blue;
    border-bottom: 12px solid $red;
    transform: skew(0, -7deg);
    overflow: hidden;
    top: -100px;
    height: 100vw;
    
    @include bp(desktop){
      height: 470px;
      top: -125px;

    }
  }
}
