// Default variables
$font_size: 4.25vw !default;
$font_size_small: 12px !default;

$input_border_radius: 5px !default;
$input_height: 13.87vw !default;
$dropdown_padding: 18px !default;

$gray_dark: #444 !default;
$gray: #999 !default;
$gray_light: #e8e8e8 !default;
$gray_lighter: #f6f6f6 !default;
$primary_light: $gray !default;
$arrow_color: $gray !default;

// Style the dropdown
select:focus {
  border: 1px solid red;
}

.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: $input_border_radius;
  clear: both;
  color: $blue;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: $font_size;
  font-weight: normal;
  height: $input_height;
  line-height: 14.87vw;
  margin-top: 6.5vw;
  outline: none;
  padding-left: 11px;
  padding-right: $dropdown_padding + 12;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto;

  @include bp(desktop) {
    border-radius: 10px;
    padding-left: $dropdown_padding;
  }

  &:hover {
    border-color: darken($gray_light, 5%);
  }
  &:active, &:focus {
    border-color: $blue;
  }

  &:focus {
    border: 1px solid $blue;
  }

  // Arrow
  &:after {
    border-bottom: 2px solid $blue;
    border-right: 2px solid $blue;
    content: '';
    display: block;
    height: 4vw;
    margin-top: -3vw;
    pointer-events: none;
    position: absolute;
    right: 5vw;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    width: 4vw;

    @include bp(desktop) {
      right: 20px;
      width: 15px;
      height: 15px;
      margin-top: -11px;
    }
  }

  &.open {
    @extend :active;
    &:after {
      transform: rotate(-135deg);
    }
    .list {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1) translateY(0);
    }
  }

  .inner-dropdown & {
    margin: 0 0 6.5vw;

    @include bp(desktop) {
      margin: 0;
    }
  }


  &.disabled {
    border-color: lighten($gray_light, 2%);
    color: $gray;
    pointer-events: none;
    &:after {
      border-color: lighten($arrow_color, 20%);
    }
  }

  // Modifiers
  &.wide {
    width: 100%;

    &.error {
      border: 2px solid red;
    }

    @include bp(desktop) {
      margin-top: 18px;
      height: 50px;
      width: 48.8%;

      span {
        font-size: 17px;
        line-height: 50px;
        font-family: $font-regular;
      }

      &.select-sexo,
      &.select-lugar,
      &.select-civil,
      &.select-nacionalidad,
      &.select-actividad {

        .current {
          font-family: $font-heavy;
        }
      }
    }

    .list {
      left: 0 !important;
      right: 0 !important;
    }

    .inner-dropdown & {
      @include bp(desktop) {
        width: 100%;
        margin-top: 0;
      }
    }
  }


  // List and options
  &.short-list {
    .list {
      max-height: 30vw;

      @include bp(desktop) {
        max-height: 135px;
      }
    }
  }

  &.light span {
   font-family: $font-regular;
  }

  .list {
    background-color: $gray;
    border-radius: $input_border_radius;
    box-shadow: 0 0 0 1px rgba($gray_dark, .11);
    box-sizing: border-box;
    margin-top: 0;
    opacity: 0;
    overflow: hidden;
    padding: 3vw;
    pointer-events: none;
    position: absolute;
    top: 100%; left: 0;
    transform-origin: 50% 0;
    transform: scale(.75) translateY(- $input_height / 2);
    transition: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
    z-index: 9;
    max-height: 65vw;
    overflow-y: scroll;

    @include bp(desktop) {
      max-height: 220px;
      padding: 5px;
    }

    &:hover .option:not(:hover) {
      background-color: transparent !important;
    }
  }

  .option {
    border-bottom: 1px solid $white;
    color: #545454;
    cursor: pointer;
    font-family: $font-regular;
    font-weight: 400;
    line-height: $input_height - 2;
    list-style: none;
    min-height: $input_height - 2;
    outline: none;
    padding-left: $dropdown_padding;
    padding-right: $dropdown_padding + 11;
    text-align: left;
    transition: all 0.2s;

    @include bp(desktop) {
      min-height: 42px;
      line-height: 42px;
      font-size: 15px;
    }


    &:hover, &.focus, &.selected.focus {
      background-color: $gray_lighter;
    }
    &.selected {
      font-weight: bold;
    }
    &.disabled {
      background-color: transparent;
      color: $gray;
      cursor: default;
    }
  }
}

// Use display instead of opacity for IE <= 10
.no-csspointerevents .nice-select {
  .list {
    display: none;
  }
  &.open {
    .list {
      display: block;
    }
  }
}
