@font-face {
    font-family: 'museo300';
    src: url('../fonts/MuseoSans_300.woff2') format('woff2'),
         url('../fonts/MuseoSans_300.woff') format('woff'),
         url('../fonts/MuseoSans_300.ttf')  format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'museo500';
    src: url('../fonts/MuseoSans_500.woff2') format('woff2'),
         url('../fonts/MuseoSans_500.woff') format('woff'),
         url('../fonts/MuseoSans_500.ttf')  format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'museo700';
    src: url('../fonts/MuseoSans_700.woff2') format('woff2'),
         url('../fonts/MuseoSans_700.woff') format('woff'),
         url('../fonts/MuseoSans_700.ttf')  format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'museo900';
    src: url('../fonts/MuseoSans_900.woff2') format('woff2'),
         url('../fonts/MuseoSans_900.woff') format('woff'),
         url('../fonts/MuseoSans_900.ttf')  format('truetype');
    font-weight: 900;
    font-style: normal;
}
