@mixin bp($point) {
  @if $point == mobile {
    @media (min-width: 320px) { @content; }
  }
  @else if $point == mobile-landscape {
    @media (min-width: 480px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: 760px) { @content; }
  }
  @else if $point == desktop {
    @media (min-width: 1024px) { @content; }
  }
  @else if $point == desktop-s {
    @media (min-width: 1100px) { @content; }
  }
  @else if $point == desktop-d {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == large-desktop {
    @media (min-width: 1600px)  { @content; }
  }
  @else if $point == xl {
    @media (min-width: 1800px)  { @content; }
  }
  @else if $point == xxl {
    @media (min-width: 2200px)  { @content; }
  }
}
