//Colors

$white: #FFF;
$yellow: #eac247;
$blue: #044d8b;
$blue-simulator: #0b5798;
$gray: #F1EEEE;
$red: #d7362c;

// $yellow: #eac247;


// Font styles

$font-light: 'museo300', sans-serif;
$font-regular: 'museo500', sans-serif;
$font-bold: 'museo700', sans-serif;
$font-heavy: 'museo900', sans-serif;
