@charset "UTF-8";
/* CSS

=======================================================================================
                                *** FILE STRUCTURE ***
=======================================================================================


scss/
|
|– _settings.fonts.scss         # Web fonts
|– _settings.variables.scss     # Variables for colors, speed, etc
|– _settings.mediaqueries.scss  # Set viewports
|
|
|– _base.buttons.scss           # Buttons base styles
|– _base.images.scss            # Image base styles
|– _base.typography.scss        # DOM elements typography base styles - No class or IDs
|– _base.page.scss              # Page styles
|- _base.simulator.scss         # Simulator styles
|- _base.response.scss          # Styles for the form responses
|
|– _tools.mixins.scss           # grid mixin
|
|
|– _layout.header.scss          # Header styles
|– _layout.footer.scss          # Footer styles
|– _layout.form.scss            # Form styles
|
`– main.css                    # Main Sass file
*/
@font-face {
  font-family: 'museo300';
  src: url("../fonts/MuseoSans_300.woff2") format("woff2"), url("../fonts/MuseoSans_300.woff") format("woff"), url("../fonts/MuseoSans_300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'museo500';
  src: url("../fonts/MuseoSans_500.woff2") format("woff2"), url("../fonts/MuseoSans_500.woff") format("woff"), url("../fonts/MuseoSans_500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'museo700';
  src: url("../fonts/MuseoSans_700.woff2") format("woff2"), url("../fonts/MuseoSans_700.woff") format("woff"), url("../fonts/MuseoSans_700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'museo900';
  src: url("../fonts/MuseoSans_900.woff2") format("woff2"), url("../fonts/MuseoSans_900.woff") format("woff"), url("../fonts/MuseoSans_900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

.bt {
  font-family: "museo900", sans-serif;
  color: #FFF;
  width: 100%;
  text-decoration: none;
  text-align: center;
  height: 13.87vw;
  background-color: #044d8b;
  display: block;
  border-radius: 5px;
  margin-top: 6.5vw;
  line-height: 14vw;
  font-size: 5vw;
  border: 0;
  text-indent: 0;
  transition: background-color .2s ease-in;
  -webkit-appearance: none;
  cursor: pointer; }
  @media (min-width: 1024px) {
    .bt {
      font-size: 22px;
      line-height: 60px;
      height: 57px;
      border-radius: 10px;
      margin-top: 20px;
      width: 48.8%; } }
  .bt:hover {
    background-color: #00adef; }
  .bt:active, .bt.nice-select.open {
    background-color: #00336c; }
  @media (min-width: 1024px) {
    .modulo-main-02 .bt {
      margin-top: 170px; } }
  .modulo-main-validacion_celular .bt {
    margin-bottom: 20px; }
    @media (min-width: 1024px) {
      .modulo-main-validacion_celular .bt {
        margin-top: 0;
        float: right; } }
  @media (min-width: 1024px) {
    .modulo-main-03 .bt {
      float: right;
      margin-top: 30px; } }
  .modulo-main-05 .bt {
    float: right; }
  @media (min-width: 1024px) {
    .bt.bt-right-06 {
      margin-top: 120px; } }
  @media (min-width: 1024px) {
    .bt.bt-radio-form {
      margin-top: 50px;
      float: right;
      margin-right: 50px; } }

img {
  width: 100%; }

body {
  text-transform: uppercase; }

h1 {
  color: #044d8b;
  font-family: "museo900", sans-serif;
  letter-spacing: -.1rem; }

h2 {
  font-family: "museo900", sans-serif; }

h3 {
  font-family: "museo500", sans-serif; }
  h3 strong {
    font-family: "museo900", sans-serif; }

p {
  font-family: "museo500", sans-serif; }

span {
  display: block;
  font-family: "museo900", sans-serif;
  margin-bottom: 3.5vw; }

label {
  font-family: "museo900", sans-serif; }

input {
  font-family: "museo500", sans-serif; }

* {
  box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ul, li, div {
  margin: 0;
  padding: 0; }

body {
  background-color: #044d8b;
  position: relative; }

.main-wrapper {
  background-color: #eac247;
  position: relative;
  z-index: 0; }

.modulo {
  width: 100%;
  max-width: 1165px;
  margin: 0 auto;
  min-height: 100vw;
  padding: 8vw; }
  @media (min-width: 1024px) {
    .modulo {
      padding: 1.5vw;
      min-height: 454px; } }
  @media (min-width: 2200px) {
    .modulo {
      max-width: 1500px; } }

.modulo-top {
  color: #FFF;
  position: relative; }
  .modulo-top span {
    font-size: 4vw;
    font-weight: 900;
    line-height: 0.92; }
    @media (min-width: 1024px) {
      .modulo-top span {
        font-size: 24px; } }
    .modulo-top span.prestamos {
      color: #eac247;
      margin-bottom: 0px; }
    .modulo-top span.sin-moverte {
      color: #ffffff; }
    @media (min-width: 1024px) {
      .modulo-top span {
        margin-bottom: 10px; } }
  .modulo-top .logo {
    display: none; }
    @media (min-width: 1024px) {
      .modulo-top .logo {
        display: block;
        margin-left: -32px;
        margin-top: -80px;
        width: 830px; } }
  .modulo-top .logo-mobile {
    display: block;
    margin-left: -4.5vw;
    margin-top: -2vw;
    width: 53vw; }
    @media (min-width: 1024px) {
      .modulo-top .logo-mobile {
        display: none; } }
  .modulo-top .pareja {
    position: absolute;
    right: 6vw;
    width: 55vw;
    top: 20vw;
    -webkit-filter: drop-shadow(3px 0px 30px #fff);
    -moz-filter: drop-shadow(3px 0px 30px #fff);
    filter: drop-shadow(3px 0px 30px #fff); }
    @media (min-width: 1024px) {
      .modulo-top .pareja {
        -webkit-filter: drop-shadow(35px -80px 90px #fff);
        -moz-filter: drop-shadow(35px -80px 90px #fff);
        filter: drop-shadow(35px -80px 90px #fff);
        top: 70px;
        width: 38%;
        right: 10px; } }
    @media (min-width: 1100px) {
      .modulo-top .pareja {
        right: 0px;
        top: 12px; } }
  .modulo-top h1 {
    color: #FFF;
    font-family: "museo300", sans-serif;
    width: 70vw;
    font-size: 9vw;
    line-height: 8.5vw;
    margin-bottom: 1vw; }
    @media (min-width: 1024px) {
      .modulo-top h1 {
        font-size: 60px;
        line-height: .95; } }
    .modulo-top h1 strong {
      font-family: "museo900", sans-serif; }
      @media (min-width: 1024px) {
        .modulo-top h1 strong {
          font-size: 62px;
          display: block; } }
  .modulo-top h2 {
    font-family: "museo300", sans-serif;
    font-size: 4vw;
    width: 30vw;
    line-height: 5vw; }
    @media (min-width: 1024px) {
      .modulo-top h2 {
        font-size: 26px;
        line-height: .6;
        width: auto; } }

.modulo-top__tarjeta {
  background-color: #044d8b;
  box-shadow: 0px 3px 80px 0 rgba(34, 31, 31, 0.44);
  border-radius: 10px;
  margin-bottom: 8vh;
  margin-top: -5vh; }
  @media (min-width: 1024px) {
    .modulo-top__tarjeta {
      position: absolute;
      left: 18px;
      width: 370px;
      height: 490px;
      bottom: -46px; } }

.modulo-main {
  transform: translateY(-26.5vw);
  padding-top: 0;
  margin-bottom: -16vw; }
  @media (min-width: 1024px) {
    .modulo-main {
      transform: translateY(-193px);
      padding-left: 430px;
      padding-right: 19px;
      margin-bottom: -120px;
      margin-top: 58px; } }
  .modulo-main h1 {
    font-size: 8.5vw; }
    @media (min-width: 1024px) {
      .modulo-main h1 {
        font-size: 37px; } }
    .modulo-main h1.simula {
      color: #FFF;
      text-align: left;
      text-transform: none;
      font-size: 6.7vw;
      font-family: "museo300", sans-serif;
      letter-spacing: 1px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding-bottom: 22px; }
      @media (min-width: 1024px) {
        .modulo-main h1.simula {
          font-size: 30px; } }
    .modulo-main h1.pedila {
      color: #044d8b;
      text-align: left;
      text-transform: none; }
    .modulo-main h1.recibida {
      font-size: 30px; }
  .modulo-main .modulo-main--inner {
    transform: translateY(-30vw);
    color: #044d8b; }
    @media (min-width: 1024px) {
      .modulo-main .modulo-main--inner {
        transform: translateY(-270px);
        margin-bottom: 0; } }
    @media (min-width: 1024px) {
      .modulo-main .modulo-main--inner.modulo-main-02, .modulo-main .modulo-main--inner.modulo-main-03, .modulo-main .modulo-main--inner.modulo-main-04, .modulo-main .modulo-main--inner.modulo-main-05, .modulo-main .modulo-main--inner.modulo-main-06, .modulo-main .modulo-main--inner.modulo-main-07, .modulo-main .modulo-main--inner.modulo-main-09, .modulo-main .modulo-main--inner.modulo-main-10 {
        margin-bottom: -50px;
        transform: translateY(-130px); } }
    .modulo-main .modulo-main--inner.modulo-main-validacion_celular p {
      font-size: 5vw; }
      .modulo-main .modulo-main--inner.modulo-main-validacion_celular p b {
        font-family: "museo900", sans-serif; }
    @media (min-width: 1024px) {
      .modulo-main .modulo-main--inner.modulo-main-validacion_celular p {
        font-size: 24px; }
      .modulo-main .modulo-main--inner.modulo-main-validacion_celular form .field-container {
        display: flex; }
        .modulo-main .modulo-main--inner.modulo-main-validacion_celular form .field-container input[type="text"] {
          height: 56px; }
        .modulo-main .modulo-main--inner.modulo-main-validacion_celular form .field-container input[type="submit"] {
          width: 400px;
          margin-left: 5px;
          margin-bottom: 0; }
      .modulo-main .modulo-main--inner.modulo-main-validacion_celular .form-error-message {
        margin-bottom: 20px; }
        .modulo-main .modulo-main--inner.modulo-main-validacion_celular .form-error-message .val-error-box {
          float: left; } }
    @media (min-width: 1024px) {
      .modulo-main .modulo-main--inner.modulo-main-03 {
        margin-bottom: -230px; } }
    @media (min-width: 1024px) {
      .modulo-main .modulo-main--inner.modulo-main-04 {
        margin-bottom: -80px; } }
    .modulo-main .modulo-main--inner.modulo-main-05 {
      margin-bottom: 0; }
      @media (min-width: 1024px) {
        .modulo-main .modulo-main--inner.modulo-main-05 {
          margin-bottom: 20px; } }
    @media (min-width: 1024px) {
      .modulo-main .modulo-main--inner.modulo-main-06 {
        margin-bottom: -50px; } }
    @media (min-width: 1024px) {
      .modulo-main .modulo-main--inner.modulo-main-07, .modulo-main .modulo-main--inner.modulo-main-09 {
        margin-bottom: -130px; } }
    @media (min-width: 1024px) {
      .modulo-main .modulo-main--inner.modulo-main-10 {
        margin-bottom: 50px; } }
    .modulo-main .modulo-main--inner.modulo-main-10 h3 {
      font-size: 6.7vw;
      margin-bottom: 5vw; }
      @media (min-width: 1024px) {
        .modulo-main .modulo-main--inner.modulo-main-10 h3 {
          font-size: 25px;
          margin-bottom: 20px; } }
      .modulo-main .modulo-main--inner.modulo-main-10 h3 strong {
        display: block; }
        @media (min-width: 1024px) {
          .modulo-main .modulo-main--inner.modulo-main-10 h3 strong {
            display: inline; } }
    .modulo-main .modulo-main--inner.modulo-main-10 p strong {
      display: block;
      font-family: "museo900", sans-serif; }
    @media (min-width: 1024px) {
      .modulo-main .modulo-main--inner.modulo-main-10 .modulo-fin {
        margin-top: 50px;
        position: relative; } }
    .modulo-main .modulo-main--inner.modulo-main-10 .recordatorio {
      margin: 2vw 0 6vw; }
      @media (min-width: 1024px) {
        .modulo-main .modulo-main--inner.modulo-main-10 .recordatorio {
          width: 365px;
          float: right; } }
    @media (min-width: 1024px) {
      .modulo-main .modulo-main--inner.modulo-main-10 .pareja {
        float: left;
        width: 400px;
        position: absolute;
        z-index: -1; } }
    @media (min-width: 1024px) {
      .modulo-main .modulo-main--inner.modulo-main-10 .bt {
        float: right;
        position: absolute;
        right: 0;
        top: 160px; } }
    .modulo-main .modulo-main--inner h1 {
      font-size: 8.5vw;
      margin-bottom: 4vw; }
      @media (min-width: 1024px) {
        .modulo-main .modulo-main--inner h1 {
          font-size: 42px;
          margin-bottom: 10px; } }
    .modulo-main .modulo-main--inner p {
      text-transform: none;
      font-family: "museo500", sans-serif;
      font-size: 5.5vw;
      margin-bottom: 4vw; }
      @media (min-width: 1024px) {
        .modulo-main .modulo-main--inner p {
          font-size: 24px;
          margin-bottom: 10px; } }
      .modulo-main .modulo-main--inner p.mod-05 {
        line-height: 1.2; }
        .modulo-main .modulo-main--inner p.mod-05 strong {
          font-family: "museo900", sans-serif;
          text-transform: uppercase;
          display: inline-block;
          clear: left; }
        .modulo-main .modulo-main--inner p.mod-05 span {
          display: inline;
          font-family: "museo500", sans-serif;
          margin-bottom: 30px; }
          @media (min-width: 1024px) {
            .modulo-main .modulo-main--inner p.mod-05 span {
              display: block; } }
    .modulo-main .modulo-main--inner h2 {
      font-size: 5vw;
      margin-bottom: 7vw; }
      .modulo-main .modulo-main--inner h2.mod-04 {
        margin-bottom: 4vw; }
        @media (min-width: 1024px) {
          .modulo-main .modulo-main--inner h2.mod-04 {
            float: left;
            margin-right: 10px;
            margin-top: -1px; } }
      @media (min-width: 1024px) {
        .modulo-main .modulo-main--inner h2 {
          font-size: 24px;
          margin-bottom: 20px; } }
    .modulo-main .modulo-main--inner .llamanos {
      background-color: #044d8b;
      width: 100%;
      height: 17vw;
      border-radius: 5px;
      margin: 7vw 0;
      position: relative;
      display: block; }
      @media (min-width: 1024px) {
        .modulo-main .modulo-main--inner .llamanos {
          width: 350px;
          height: 80px;
          border-radius: 10px;
          margin: 35px 0; } }
      .modulo-main .modulo-main--inner .llamanos img {
        width: 14vw;
        height: 10vw;
        position: absolute;
        top: 3.6vw;
        left: 9vw; }
        @media (min-width: 1024px) {
          .modulo-main .modulo-main--inner .llamanos img {
            width: 50px;
            height: 70px;
            top: 4px;
            left: 33px; } }
      .modulo-main .modulo-main--inner .llamanos span {
        color: #FFF;
        font-size: 5vw;
        line-height: 1.2;
        font-family: "museo500", sans-serif;
        position: absolute;
        top: 2.7vw;
        left: 23vw; }
        @media (min-width: 1024px) {
          .modulo-main .modulo-main--inner .llamanos span {
            font-size: 24px;
            top: 11px;
            left: 96px; } }
        .modulo-main .modulo-main--inner .llamanos span strong {
          font-family: "museo900", sans-serif;
          letter-spacing: .8px; }
    @media (min-width: 1024px) {
      .modulo-main .modulo-main--inner .p-mod-04 {
        width: 530px;
        margin-bottom: 30px; } }
    @media (min-width: 1024px) {
      .modulo-main .modulo-main--inner .h2-mod-04 {
        font-size: 30px; } }
    .modulo-main .modulo-main--inner .importe-cont {
      overflow: hidden; }
    .modulo-main .modulo-main--inner .importe-total {
      background-color: #FFF;
      border: 2px solid #044d8b;
      width: 100%;
      height: 22vw;
      border-radius: 5px;
      margin: 7vw 0 4vw;
      font-family: "museo900", sans-serif;
      text-align: center;
      font-size: 13vw;
      line-height: 1.7; }
      .modulo-main .modulo-main--inner .importe-total sup {
        font-size: 5vw;
        font-family: "museo500", sans-serif;
        display: inline-block;
        vertical-align: top;
        line-height: 2.5; }
        @media (min-width: 1024px) {
          .modulo-main .modulo-main--inner .importe-total sup {
            font-size: 25px; } }
      @media (min-width: 1024px) {
        .modulo-main .modulo-main--inner .importe-total {
          width: 355px;
          height: 95px;
          border-radius: 10px;
          margin: 0 15px 0 0;
          font-size: 60px;
          float: left; } }
    .modulo-main .modulo-main--inner .importe-disclaimer {
      font-size: 3.1vw; }
      @media (min-width: 1024px) {
        .modulo-main .modulo-main--inner .importe-disclaimer {
          font-size: 18px;
          width: 250px;
          float: left;
          margin-top: 28px; } }
    .modulo-main .modulo-main--inner .importe-cuotas {
      margin: 7vw 3vw 5vw;
      font-size: 5.5vw;
      display: block; }
      .modulo-main .modulo-main--inner .importe-cuotas::before {
        content: "";
        width: 1.6vw;
        height: 1.5vw;
        border-radius: 50%;
        background-color: #044d8b;
        display: inline-block;
        margin-left: -11px;
        vertical-align: middle;
        margin-right: 1.5vw; }
        @media (min-width: 1024px) {
          .modulo-main .modulo-main--inner .importe-cuotas::before {
            width: 7px;
            height: 7px;
            margin-left: 0;
            margin-right: 6px; } }
      @media (min-width: 1024px) {
        .modulo-main .modulo-main--inner .importe-cuotas {
          font-size: 22px;
          margin: 35px 0 20px; } }
      .modulo-main .modulo-main--inner .importe-cuotas strong {
        font-family: "museo500", sans-serif; }
        @media (min-width: 1024px) {
          .modulo-main .modulo-main--inner .importe-cuotas strong {
            margin-left: 14px; } }
    .modulo-main .modulo-main--inner .promos-marcas-sm {
      margin: 7vw auto; }
      @media (min-width: 1024px) {
        .modulo-main .modulo-main--inner .promos-marcas-sm {
          display: none; } }
    .modulo-main .modulo-main--inner .promos-marcas-lg {
      display: none; }
      @media (min-width: 1024px) {
        .modulo-main .modulo-main--inner .promos-marcas-lg {
          display: block;
          margin: 30px auto 50px; } }
    .modulo-main .modulo-main--inner .paso-3 {
      font-family: "museo500", sans-serif;
      margin-bottom: 8vw; }
      @media (min-width: 1024px) {
        .modulo-main .modulo-main--inner .paso-3 {
          margin-bottom: 40px; } }
      .modulo-main .modulo-main--inner .paso-3 strong {
        font-family: "museo900", sans-serif;
        text-transform: uppercase; }
  .modulo-main h2.subtitle {
    margin-bottom: -3.5vw;
    clear: both;
    display: block; }
    @media (min-width: 1024px) {
      .modulo-main h2.subtitle {
        margin-bottom: -15px;
        font-size: 17px; }
        .modulo-main h2.subtitle.subtitle--domicilio {
          margin-bottom: 15px; } }
  .modulo-main .mid-container-mod-form {
    margin-bottom: 12vw;
    font-size: 3.5vw;
    width: 100%; }
    @media (min-width: 1024px) {
      .modulo-main .mid-container-mod-form {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 25px;
        font-size: 17px; } }
    .modulo-main .mid-container-mod-form .placeholder {
      font-size: 3.5vw; }
      @media (min-width: 1024px) {
        .modulo-main .mid-container-mod-form .placeholder {
          font-size: 17px; } }
    .modulo-main .mid-container-mod-form h2 {
      font-size: 4.5vw;
      margin-bottom: -3vw; }
      @media (min-width: 1024px) {
        .modulo-main .mid-container-mod-form h2 {
          font-size: 17px;
          margin-bottom: 20px; } }
    .modulo-main .mid-container-mod-form.domicilio .text-field,
    .modulo-main .mid-container-mod-form.domicilio .placeholder {
      font-family: "museo500", sans-serif; }
    @media (min-width: 1024px) {
      .modulo-main .mid-container-mod-form.domicilio .placeholder {
        top: 18px; }
        .modulo-main .mid-container-mod-form.domicilio .placeholder.active {
          top: 16px; } }
    .modulo-main .mid-container-mod-form.domicilio .wrapper-dropdown span {
      font-family: "museo500", sans-serif; }
    @media (min-width: 1024px) {
      .modulo-main .mid-container-mod-form .field-container {
        width: 48.8%; } }
    @media (min-width: 1024px) {
      .modulo-main .mid-container-mod-form .field-container.inner-dropdown {
        margin-top: 13px; } }
    .modulo-main .mid-container-mod-form .field-container.inner-dropdown.short-field {
      width: 48.8%;
      display: inline-block;
      float: none; }
      .modulo-main .mid-container-mod-form .field-container.inner-dropdown.short-field.tipo-telefono {
        float: right; }
  .modulo-main .wrapper-datos-domicilio {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 6.5vw; }
    @media (min-width: 1024px) {
      .modulo-main .wrapper-datos-domicilio {
        width: 48.8%;
        margin-bottom: 18px; } }
    @media (min-width: 1024px) {
      .modulo-main .wrapper-datos-domicilio .placeholder {
        text-indent: 10px; } }
    .modulo-main .wrapper-datos-domicilio .nro {
      width: 26%; }
    .modulo-main .wrapper-datos-domicilio .piso {
      width: 16%; }
    .modulo-main .wrapper-datos-domicilio .dto {
      width: 21%; }
    .modulo-main .wrapper-datos-domicilio .cp {
      width: 30%; }
    .modulo-main .wrapper-datos-domicilio .nro .placeholder,
    .modulo-main .wrapper-datos-domicilio .piso .placeholder,
    .modulo-main .wrapper-datos-domicilio .dto .placeholder,
    .modulo-main .wrapper-datos-domicilio .cp .placeholder {
      font-size: 3.4vw;
      top: 5.4vw; }
      @media (min-width: 1024px) {
        .modulo-main .wrapper-datos-domicilio .nro .placeholder,
        .modulo-main .wrapper-datos-domicilio .piso .placeholder,
        .modulo-main .wrapper-datos-domicilio .dto .placeholder,
        .modulo-main .wrapper-datos-domicilio .cp .placeholder {
          font-size: 17px;
          top: 18px; } }
      .modulo-main .wrapper-datos-domicilio .nro .placeholder.active,
      .modulo-main .wrapper-datos-domicilio .piso .placeholder.active,
      .modulo-main .wrapper-datos-domicilio .dto .placeholder.active,
      .modulo-main .wrapper-datos-domicilio .cp .placeholder.active {
        font-size: 2.7vw;
        top: 2vw; }
        @media (min-width: 1024px) {
          .modulo-main .wrapper-datos-domicilio .nro .placeholder.active,
          .modulo-main .wrapper-datos-domicilio .piso .placeholder.active,
          .modulo-main .wrapper-datos-domicilio .dto .placeholder.active,
          .modulo-main .wrapper-datos-domicilio .cp .placeholder.active {
            top: 13px;
            font-size: 11px; } }
  .modulo-main .telefono-alt-cont {
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
    @media (min-width: 1024px) {
      .modulo-main .telefono-alt-cont {
        width: 48.8%; } }
    .modulo-main .telefono-alt-cont .field-container:nth-child(1) {
      width: 22%; }
    .modulo-main .telefono-alt-cont .field-container:nth-child(2) {
      width: 74%; }
    .modulo-main .telefono-alt-cont .placeholder {
      font-family: "museo500", sans-serif; }
  .modulo-main .tel-alt-wrapper::after {
    content: "";
    display: table;
    clear: both; }
  .modulo-main .tel-alt-wrapper .inner-dropdown {
    width: 48.8%;
    display: inline-block;
    margin-top: 3vw; }
    .modulo-main .tel-alt-wrapper .inner-dropdown:nth-child(1) {
      float: left; }
    .modulo-main .tel-alt-wrapper .inner-dropdown.tipo-telefono {
      float: right; }
      .modulo-main .tel-alt-wrapper .inner-dropdown.tipo-telefono .wrapper-dropdown span {
        line-height: 1.4;
        font-size: 4.25vw;
        width: 24vw;
        text-indent: 0;
        position: relative;
        top: 1.7vw;
        left: 4vw; }
        @media (min-width: 1024px) {
          .modulo-main .tel-alt-wrapper .inner-dropdown.tipo-telefono .wrapper-dropdown span {
            font-size: 17px;
            line-height: inherit;
            width: auto;
            text-indent: inherit;
            position: initial; } }
  .modulo-main .tel-alt-wrapper .wrapper-dropdown span {
    font-family: "museo500", sans-serif; }
  @media (min-width: 1024px) {
    .modulo-main .e-resumen {
      display: flex;
      justify-content: space-between;
      flex-direction: row; } }
  .modulo-main .e-resumen .checkbox-container {
    margin: 0; }
    .modulo-main .e-resumen .checkbox-container::after {
      content: "";
      display: table;
      clear: both; }
    @media (min-width: 1024px) {
      .modulo-main .e-resumen .checkbox-container {
        width: 48.8%; } }
    .modulo-main .e-resumen .checkbox-container:nth-child(1) [type="checkbox"]:not(:checked) + label,
    .modulo-main .e-resumen .checkbox-container:nth-child(1) [type="checkbox"]:checked + label {
      line-height: 2.2; }
    @media (min-width: 1024px) {
      .modulo-main .e-resumen .checkbox-container:nth-child(1) {
        order: 1; } }
    .modulo-main .e-resumen .checkbox-container.last {
      margin-bottom: 12vw; }
      @media (min-width: 1024px) {
        .modulo-main .e-resumen .checkbox-container.last {
          order: 2;
          margin-bottom: 0; } }
      @media (min-width: 1024px) {
        .modulo-main .e-resumen .checkbox-container.last [type="checkbox"]:not(:checked) + label,
        .modulo-main .e-resumen .checkbox-container.last [type="checkbox"]:checked + label {
          width: 300px; } }
    .modulo-main .e-resumen .checkbox-container [type="checkbox"]:not(:checked) + label,
    .modulo-main .e-resumen .checkbox-container [type="checkbox"]:checked + label {
      font-family: "museo900", sans-serif;
      padding-left: 11vw;
      width: 60vw; }
      @media (min-width: 1024px) {
        .modulo-main .e-resumen .checkbox-container [type="checkbox"]:not(:checked) + label,
        .modulo-main .e-resumen .checkbox-container [type="checkbox"]:checked + label {
          padding-left: 60px;
          font-size: 17px; } }
    .modulo-main .e-resumen .checkbox-container [type="checkbox"]:not(:checked) + label:before,
    .modulo-main .e-resumen .checkbox-container [type="checkbox"]:checked + label:before {
      border: 2px solid #044d8b;
      width: 7.5vw;
      height: 7.5vw;
      border-radius: 50%;
      top: -1vw; }
      @media (min-width: 1024px) {
        .modulo-main .e-resumen .checkbox-container [type="checkbox"]:not(:checked) + label:before,
        .modulo-main .e-resumen .checkbox-container [type="checkbox"]:checked + label:before {
          width: 42px;
          height: 42px;
          top: -7px; } }
    .modulo-main .e-resumen .checkbox-container [type="checkbox"]:not(:checked) + label:after,
    .modulo-main .e-resumen .checkbox-container [type="checkbox"]:checked + label:after {
      top: 1.3vw;
      left: 2.1vw; }
      @media (min-width: 1024px) {
        .modulo-main .e-resumen .checkbox-container [type="checkbox"]:not(:checked) + label:after,
        .modulo-main .e-resumen .checkbox-container [type="checkbox"]:checked + label:after {
          top: 7px;
          left: 15px; } }
  .modulo-main .e-resumen .field-container {
    margin-bottom: 7vw; }
    @media (min-width: 1024px) {
      .modulo-main .e-resumen .field-container {
        order: 3;
        margin-bottom: 50px; } }
  @media (min-width: 1024px) {
    .modulo-main .e-resumen .bt {
      order: 4; } }
  .modulo-main .modulo-contenido {
    padding-top: 4.5vw; }
    @media (min-width: 1200px) {
      .modulo-main .modulo-contenido {
        padding-top: 2.9vw; } }

.simulador {
  background: -moz-linear-gradient(90deg, #044d8b 59%, white 528%, white 0%);
  /* ff3.6+ */
  background: -webkit-linear-gradient(90deg, #044d8b 59%, white 528%, white 0%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, #044d8b 59%, white 528%, white 0%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, #044d8b 59%, white 528%, white 0%);
  /* ie10+ */
  background: linear-gradient(0deg, #044d8b 59%, white 528%, white 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#044d8b',GradientType=0 );
  /* ie6-9 */ }
  .simulador .contenedor {
    padding: 25px 22px; }
    .simulador .contenedor .slider-container {
      padding: 0px; }
      @media (min-width: 480px) {
        .simulador .contenedor .slider-container {
          padding: 10px 0px; } }
      .simulador .contenedor .slider-container .interno {
        padding: 10px 0px;
        display: flex; }
        @media (min-width: 480px) {
          .simulador .contenedor .slider-container .interno {
            padding: 30px 0px; } }
        .simulador .contenedor .slider-container .interno#cuotas {
          padding-top: 20px; }
        .simulador .contenedor .slider-container .interno .slider-titulo h2 {
          color: #FFF;
          font-family: "museo700", sans-serif;
          text-transform: capitalize;
          font-size: 18px;
          padding-right: 18px;
          padding-top: 17px; }
        .simulador .contenedor .slider-container .interno .slider-titulo #monto {
          padding-right: 21px;
          /*!!!*/ }
        .simulador .contenedor .slider-container .interno .slidecontainer {
          width: 100%;
          position: relative; }
          .simulador .contenedor .slider-container .interno .slidecontainer output {
            position: absolute;
            transition: left .03s ease-out;
            -webkit-transform: translate3d(0, 0, 0); }
            .simulador .contenedor .slider-container .interno .slidecontainer output span {
              position: absolute;
              font-family: 'museo700';
              margin-top: -10px;
              background: transparent;
              color: #eac247;
              font-size: 17px;
              transform: translateX(-50%);
              margin-bottom: 0px; }
              @media (min-width: 1024px) {
                .simulador .contenedor .slider-container .interno .slidecontainer output span {
                  font-size: 20px; } }
              .simulador .contenedor .slider-container .interno .slidecontainer output span#valor2 {
                font-size: 17px; }
                @media (min-width: 1024px) {
                  .simulador .contenedor .slider-container .interno .slidecontainer output span#valor2 {
                    font-size: 20px; } }
        .simulador .contenedor .slider-container .interno .slider {
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 100%;
          height: 5px;
          border-radius: 2.5px;
          background-color: #003664;
          outline: none;
          -webkit-transition: .2s;
          transition: opacity .2s;
          border: 0;
          margin-top: 26px; }
          .simulador .contenedor .slider-container .interno .slider:hover {
            opacity: 1; }
          .simulador .contenedor .slider-container .interno .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #FFF;
            cursor: pointer;
            border: 3.5px solid #eac247; }
          .simulador .contenedor .slider-container .interno .slider::-moz-range-thumb {
            -moz-appearance: none;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background: #FFF;
            cursor: pointer;
            border: 4px solid #eac247; }
          .simulador .contenedor .slider-container .interno .slider::-moz-range-track {
            border-radius: 2.5px;
            background-color: #0b5798;
            height: 5px;
            outline: none;
            -webkit-transition: .2s;
            transition: opacity .2s; }
      .simulador .contenedor .slider-container .valor {
        margin-top: 16px;
        padding: 15px 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .simulador .contenedor .slider-container .valor h1 {
          color: #FFF;
          text-transform: none;
          font-family: 'museo300', sans-serif;
          font-weight: lighter;
          font-size: 19px;
          letter-spacing: 0.5px; }
          @media (min-width: 480px) {
            .simulador .contenedor .slider-container .valor h1 {
              font-size: 23.5px; } }
        .simulador .contenedor .slider-container .valor span {
          margin-bottom: 0px;
          font-size: 20px;
          font-style: 900;
          color: #eac247; }
          @media (min-width: 480px) {
            .simulador .contenedor .slider-container .valor span {
              font-size: 39px; } }
      .simulador .contenedor .slider-container .legales {
        font-family: 'museo300', sans-serif;
        font-size: 12px;
        font-weight: lighter;
        line-height: 1.08;
        letter-spacing: 0.3px;
        text-align: left;
        color: #ffffff;
        text-transform: none;
        opacity: .5;
        padding-top: 20px;
        text-align: justify; }

.respuesta-simulador {
  border-top: none !important;
  margin-top: 0px !important; }
  .respuesta-simulador #cifra-prestamo, .respuesta-simulador #cant-cuotas {
    font-size: 30px; }

.solicitud-prestamo {
  color: #044d8b;
  display: none; }
  .solicitud-prestamo h1 {
    font-size: 9vw;
    display: flex; }
    @media (min-width: 760px) {
      .solicitud-prestamo h1 {
        font-size: 36px; } }
    .solicitud-prestamo h1 span {
      margin: 0px; }
  .solicitud-prestamo .recibido {
    font-family: 'museo900';
    font-size: 20px;
    margin-top: 10px; }
  .solicitud-prestamo .mensaje {
    font-family: 'museo700';
    font-size: 20px;
    text-transform: none;
    border: 2px solid #044d8b;
    border-radius: 17px;
    padding: 22px 20px;
    margin-top: 32px; }
    @media (min-width: 760px) {
      .solicitud-prestamo .mensaje {
        width: 78%; } }
    .solicitud-prestamo .mensaje strong {
      font-family: 'museo900'; }
    @media (min-width: 760px) {
      .solicitud-prestamo .mensaje.negativo {
        width: 90%; } }
    .solicitud-prestamo .mensaje.mas-informacion {
      border: none;
      padding: 0px; }
      @media (min-width: 760px) {
        .solicitud-prestamo .mensaje.mas-informacion {
          width: 80%; } }
  .solicitud-prestamo .gracias {
    text-align: center;
    margin-bottom: 52px; }
    @media (min-width: 760px) {
      .solicitud-prestamo .gracias {
        text-align: left;
        margin-bottom: 10px; } }
  .solicitud-prestamo h2 {
    margin: 30px 0 50px 0;
    text-align: center; }
    @media (min-width: 760px) {
      .solicitud-prestamo h2 {
        margin: 30px 0 100px 0;
        text-align: left; } }
  .solicitud-prestamo button {
    text-transform: uppercase;
    font-size: 3vw;
    font-family: 'museo300';
    cursor: pointer;
    margin-right: 0px;
    margin-left: auto;
    bottom: 0px;
    width: 100%;
    border-radius: 10px; }
    @media (min-width: 1024px) {
      .solicitud-prestamo button {
        width: 49%;
        font-size: 16px; } }
    @media (min-width: 1200px) {
      .solicitud-prestamo button {
        width: 41%; } }
    .solicitud-prestamo button a {
      color: #FFF;
      text-decoration: none; }
    .solicitud-prestamo button strong {
      font-family: 'museo900'; }
    @media (min-width: 760px) {
      .solicitud-prestamo button.sucursales {
        width: 33%; } }

header {
  position: relative; }
  header .bg {
    position: absolute;
    width: 100%;
    z-index: -1;
    background-color: #044d8b;
    border-bottom: 12px solid #d7362c;
    transform: skew(0, -7deg);
    overflow: hidden;
    top: -100px;
    height: 100vw; }
    @media (min-width: 1024px) {
      header .bg {
        height: 470px;
        top: -125px; } }

footer {
  height: 43vw;
  width: 100%;
  background-color: #044d8b;
  border-top: 8px solid #d7362c;
  position: relative;
  text-transform: none;
  text-align: left; }
  @media (min-width: 760px) {
    footer {
      height: 20vw; } }
  @media (min-width: 1024px) {
    footer {
      height: 110px; } }

.footer__tarjeta {
  position: absolute;
  transform: translateX(-50%);
  margin-left: -14vw;
  top: -13vw;
  width: 58vw; }
  @media (min-width: 760px) {
    .footer__tarjeta {
      top: -6.5vw;
      margin-left: -10vw;
      width: 31vw; } }

.footer-container {
  max-width: 1165px;
  margin: 0 auto;
  padding: 0px 0px 0px 30vw; }
  @media (min-width: 760px) {
    .footer-container {
      padding: 0px 6vh 0px 18vw; } }
  @media (min-width: 1024px) {
    .footer-container {
      padding: 0px 0px 0px 15vw; } }
  .footer-container .footer__copy {
    color: #FFF;
    font-size: 3.5vw;
    font-family: "museo500", sans-serif;
    margin: 1.5vw auto 0;
    display: inline-block; }
    @media (min-width: 320px) {
      .footer-container .footer__copy {
        font-size: 14px; } }
    @media (min-width: 480px) {
      .footer-container .footer__copy {
        font-size: 18px;
        margin-bottom: 10px; } }
    @media (min-width: 760px) {
      .footer-container .footer__copy {
        font-size: 18px;
        margin-bottom: 10px; } }
    @media (min-width: 1024px) {
      .footer-container .footer__copy {
        font-size: 17px; } }
    @media (min-width: 1200px) {
      .footer-container .footer__copy {
        font-size: 16px; } }
    .footer-container .footer__copy a {
      display: block;
      text-decoration: none;
      color: #FFF;
      font-family: "museo700", sans-serif; }
      @media (min-width: 1024px) {
        .footer-container .footer__copy a {
          display: inline; } }
  .footer-container .small-desktop {
    font-size: 14px;
    font-style: "museo300", sans-serif;
    text-align: left;
    color: #ffffff;
    opacity: .6;
    padding-top: 0px;
    display: block;
    position: relative;
    text-align: justify; }
    @media (min-width: 320px) {
      .footer-container .small-desktop {
        display: none; } }
    @media (min-width: 480px) {
      .footer-container .small-desktop {
        display: none; } }
    @media (min-width: 760px) {
      .footer-container .small-desktop {
        display: block; } }

.small-mobile {
  font-size: 14px;
  font-style: "museo300", sans-serif;
  text-align: left;
  color: #ffffff;
  opacity: .6;
  padding: 0px 30px 10px 30px;
  display: block;
  position: relative;
  top: 0px; }
  @media (min-width: 480px) {
    .small-mobile {
      display: block;
      top: 20px;
      padding: 0px 55px 10px 55px; } }
  @media (min-width: 760px) {
    .small-mobile {
      display: none; } }

#terms {
  width: 90%;
  margin: 4vw auto;
  color: white;
  font-size: 3.5vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  text-align: left;
  text-align: justify; }
  #terms p {
    font-style: "museo300", sans-serif; }
    #terms p b {
      font-style: "museo500", sans-serif; }
  #terms.open {
    max-height: 100vh; }
  @media (min-width: 480px) {
    #terms {
      font-size: 10px;
      margin: 15px auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 40vw; } }
  @media (min-width: 760px) {
    #terms {
      font-size: 10px;
      margin: 15px auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 23vw; } }
  @media (min-width: 1024px) {
    #terms {
      font-size: 10px;
      margin: 15px auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 140px; } }

@media (min-width: 1024px) {
  .modulo-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; } }

@media (min-width: 1024px) {
  .modulo-form.radio-form {
    display: block; } }

.field-container {
  width: 100%;
  margin-top: 6.5vw;
  position: relative;
  clear: both; }
  @media (min-width: 1024px) {
    .field-container {
      width: 48.8%;
      margin-top: 18px; } }
  .field-container.inner-dropdown {
    position: initial;
    float: left;
    width: 100%; }
    @media (min-width: 1024px) {
      .field-container.inner-dropdown {
        margin-top: 28px;
        width: 48.8%; } }

.placeholder {
  position: absolute;
  z-index: 2;
  color: #044d8b;
  text-transform: uppercase;
  font-family: "museo900", sans-serif;
  font-size: 4.25vw;
  text-indent: 3.5vw;
  top: 4.5vw;
  transition: all .2s ease-in; }
  @media (min-width: 1024px) {
    .placeholder {
      font-size: 17px;
      text-indent: 20px;
      top: 16px; } }
  .placeholder.active {
    font-size: 3vw;
    top: 2vw;
    left: .7vw;
    color: gray; }
    @media (min-width: 1024px) {
      .placeholder.active {
        font-size: 11px;
        top: 10px;
        left: 0px; } }
    .placeholder.active.error-label {
      color: red; }
  .email-terms .placeholder {
    top: 8.1vw; }
    @media (min-width: 1024px) {
      .email-terms .placeholder {
        top: 16px; } }
    .email-terms .placeholder.active {
      top: 6vw; }
      @media (min-width: 1024px) {
        .email-terms .placeholder.active {
          top: 10px; } }
  .placeholder.area {
    text-indent: 8vw; }
    @media (min-width: 1024px) {
      .placeholder.area {
        text-indent: 28px; } }
  .placeholder.celular {
    text-indent: 10vw; }
    @media (min-width: 1024px) {
      .placeholder.celular {
        text-indent: 40px; } }

.input-inner-wrap {
  position: relative; }

.text-field,
.email-terms {
  padding-top: 3.5vw; }
  @media (min-width: 1024px) {
    .text-field,
    .email-terms {
      padding-top: 17px;
      text-indent: 18px; } }

@media (min-width: 1024px) {
  .email-terms {
    padding-top: 0;
    text-indent: 0; } }

input {
  background-color: #FFF;
  border: 0;
  border-radius: 5px;
  height: 13.87vw;
  width: 100%;
  font-size: 5vw;
  text-indent: 3vw;
  color: #044d8b;
  text-transform: uppercase;
  font-family: "museo900", sans-serif;
  font-size: 4.25vw;
  text-indent: 3.5vw;
  border: 1px solid #FFF;
  transition: border-color .5s ease-out; }
  @media (min-width: 1024px) {
    input {
      font-size: 17px;
      height: 50px;
      text-indent: 20px;
      border-radius: 10px; } }
  input:focus {
    border-color: #044d8b;
    outline: none; }
  input.error {
    border: 2px solid red;
    color: red; }

label.error {
  text-transform: none;
  color: red;
  font-family: "museo500", sans-serif;
  font-size: 3vw; }
  @media (min-width: 1024px) {
    label.error {
      font-size: 12px; } }

::-webkit-input-placeholder {
  color: #044d8b; }

::-moz-placeholder {
  color: #044d8b; }

:-ms-input-placeholder {
  color: #044d8b; }

:-moz-placeholder {
  color: #044d8b; }

.telefono-container {
  width: 100%; }
  @media (min-width: 1024px) {
    .telefono-container {
      width: 48.8%; } }
  .telefono-container .field-container {
    width: auto;
    display: inline-block; }
    @media (min-width: 1024px) {
      .telefono-container .field-container.area {
        width: 100px; } }
    @media (min-width: 1024px) {
      .telefono-container .field-container.celular {
        width: 222px; } }

.input-area {
  width: 20.8vw; }
  @media (min-width: 1024px) {
    .input-area {
      width: 70px;
      text-indent: 10px; } }

.input-celular {
  width: 50.15vw; }
  @media (min-width: 1024px) {
    .input-celular {
      width: 89%; } }

.input-wrapper {
  width: 100%; }
  @media (min-width: 1024px) {
    .input-wrapper {
      overflow: hidden; } }

.input-inner-wrap {
  float: right; }
  @media (min-width: 1024px) {
    .input-inner-wrap {
      width: 64%;
      text-align: right; } }

.input-prefix {
  color: #004794;
  font-size: 4vw;
  font-weight: bold;
  display: inline-block;
  margin-right: .5vw; }
  @media (min-width: 1024px) {
    .input-prefix {
      font-size: 17px;
      margin: 0;
      margin-right: 3px; } }
  @media (min-width: 1024px) {
    .input-prefix.area {
      display: inline-block;
      vertical-align: top;
      margin-top: 16px; } }
  @media (min-width: 1024px) {
    .input-prefix.celular {
      float: left;
      display: inline-block;
      margin-top: 16px; } }

::selection {
  background: transparent; }

::-moz-selection {
  background: transparent; }

.dropdown-label {
  font-size: 4vw;
  margin-bottom: 4vw;
  display: block; }
  @media (min-width: 1024px) {
    .dropdown-label {
      font-size: 17px;
      margin-bottom: 15px;
      display: block;
      min-height: 40px;
      padding-right: 20px; } }

.inner-dropdown .wrapper-dropdown {
  margin-top: 2vw; }
  @media (min-width: 1024px) {
    .inner-dropdown .wrapper-dropdown {
      margin-top: 10px;
      width: 100%; } }

.wrapper-dropdown {
  position: relative;
  width: 100%;
  height: 13.87vw;
  margin-top: 6.5vw;
  background: #FFF;
  border-radius: 5px;
  color: #004794;
  font-family: "museo500", sans-serif;
  text-indent: 3.5vw;
  line-height: 14.4vw;
  font-size: 4.25vw;
  outline: none;
  cursor: pointer; }
  @media (min-width: 1024px) {
    .wrapper-dropdown {
      font-size: 17px;
      height: 50px;
      text-indent: 20px;
      margin-top: 18px;
      line-height: 50px;
      border-radius: 10px;
      width: 48.8%; } }
  .wrapper-dropdown span {
    font-family: "museo900", sans-serif; }

.wrapper-dropdown:after {
  border-right: solid 2px #004794;
  border-top: solid 2px #004794;
  content: '';
  display: block;
  height: 4vw;
  position: absolute;
  right: 5vw;
  top: 3.5vw;
  width: 4vw;
  transform: rotate(135deg); }
  @media (min-width: 1024px) {
    .wrapper-dropdown:after {
      height: 15px;
      width: 15px;
      top: 14px;
      right: 20px; } }

.wrapper-dropdown .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: -7px;
  /* Styles */
  background-color: #f4f4f4;
  padding: 14px;
  border: 2px solid #FFF;
  border-top: 6px solid #FFF;
  list-style: none;
  font-weight: normal;
  max-height: 230px;
  overflow-y: scroll;
  padding-top: 5px;
  /* Hiding */
  opacity: 0;
  pointer-events: none; }

.wrapper-dropdown .dropdown li a {
  display: block;
  text-decoration: none;
  color: #545454;
  font-family: "museo500", sans-serif;
  text-indent: 5px;
  font-size: 14px;
  border-bottom: 1px solid #FFF;
  line-height: 3;
  transition: background-color .2s ease-in;
  cursor: pointer; }
  .wrapper-dropdown .dropdown li a:hover {
    background-color: red; }

/* Hover state */
.wrapper-dropdown .dropdown li:hover a {
  background: #f3f8f8; }

/* Active state */
.wrapper-dropdown.active .dropdown {
  opacity: 1;
  pointer-events: auto;
  margin-top: -7px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 30;
  position: absolute; }
  @media (min-width: 1024px) {
    .wrapper-dropdown.active .dropdown {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; } }

.wrapper-dropdown.active:after {
  transform: rotate(315deg);
  top: 5.5vw; }
  @media (min-width: 1024px) {
    .wrapper-dropdown.active:after {
      top: 20px; } }

.wrapper-dropdown.active {
  background: #FFF; }

.fecha-nacimiento-cont {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-top: 6.5vw; }
  @media (min-width: 1024px) {
    .fecha-nacimiento-cont {
      width: 48.8%;
      margin-top: 30px;
      margin-bottom: 20px; } }
  .fecha-nacimiento-cont .inner-dropdown {
    width: 35%;
    margin: 0 5px; }
    .fecha-nacimiento-cont .inner-dropdown:first-child {
      margin-left: 0; }
    .fecha-nacimiento-cont .inner-dropdown:nth-child(2) {
      width: 55%; }
    .fecha-nacimiento-cont .inner-dropdown:last-child {
      width: 38%; }

@media (min-width: 1024px) {
  .email-terms input {
    width: 100%; } }

/* CHECKBOX */
.checkbox-container {
  margin-bottom: 20vw;
  margin-top: 5vw;
  position: relative;
  z-index: 0; }
  @media (min-width: 1024px) {
    .checkbox-container {
      margin-bottom: 20px;
      margin-top: 10px; } }

.checkbox-container .option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: -4px;
  right: 0;
  bottom: 0;
  left: -4px;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #ffffff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 1;
  border: 0;
  float: left; }
  .checkbox-container .option-input.error {
    border: 1px solid red; }
  @media (min-width: 760px) {
    .checkbox-container .option-input {
      height: 40px;
      width: 40px; } }
  @media (min-width: 1024px) {
    .checkbox-container .option-input {
      border-radius: 7px;
      height: 22px;
      width: 22px; } }
  .checkbox-container .option-input:hover {
    opacity: .8; }
  .checkbox-container .option-input:checked {
    background: #ffffff; }
  .checkbox-container .option-input:checked::before {
    height: 38px;
    width: 34px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    color: #004682;
    right: 2px;
    bottom: -5px; }
    @media (min-width: 480px) {
      .checkbox-container .option-input:checked::before {
        font-size: 30px;
        bottom: -4px;
        right: 15px; } }
    @media (min-width: 760px) {
      .checkbox-container .option-input:checked::before {
        font-size: 30px;
        bottom: 0px;
        right: 27px; } }
    @media (min-width: 1024px) {
      .checkbox-container .option-input:checked::before {
        font-size: 22px;
        bottom: -10px;
        right: 5px; } }
    @media (min-width: 1200px) {
      .checkbox-container .option-input:checked::before {
        font-size: 22px;
        bottom: -9px; } }
  .checkbox-container .option-input:checked::after {
    -webkit-animation: click-wave-shorter 0.70s;
    -moz-animation: click-wave-shorter 0.70s;
    animation: click-wave-shorter 0.70s;
    background: #ffffff;
    content: '';
    display: block;
    position: relative;
    z-index: 100; }
  .checkbox-container .option-input.radio {
    border-radius: 50%; }
  .checkbox-container .option-input.radio::after {
    border-radius: 50%; }

.checkbox-container .checkbox-text {
  position: relative;
  padding-left: 2vw;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "museo700", sans-serif;
  color: #044d8b;
  font-size: 3.4vw;
  float: left; }
  @media (min-width: 1024px) {
    .checkbox-container .checkbox-text {
      font-size: 10px;
      padding-left: 0px;
      padding-bottom: 0px; } }
  .checkbox-container .checkbox-text a {
    color: #044d8b;
    font-family: "museo900", sans-serif; }

#recaptcha-style {
  width: 100%;
  border-radius: 0;
  padding: 5px; }
  @media (min-width: 1024px) {
    #recaptcha-style {
      width: 48.8%; } }
  #recaptcha-style .g-recaptcha {
    margin-top: 6.5vw; }
    @media (min-width: 1024px) {
      #recaptcha-style .g-recaptcha {
        margin-top: 10px; } }
    #recaptcha-style .g-recaptcha .rc-anchor-light {
      margin-top: 6.5vw;
      background: white !important;
      border: 0 !important;
      color: #000 !important;
      border-radius: 0;
      box-shadow: none !important;
      width: 440px !important; }
  #recaptcha-style iframe {
    position: relative; }

.rc-anchor-normal {
  width: 297px !important; }

#recaptcha-style > div {
  border-radius: 0;
  overflow: hidden;
  width: 100% !important; }
  @media (min-width: 1024px) {
    #recaptcha-style > div {
      border-radius: 0;
      width: 361px !important;
      margin-top: 28px; } }

.val-error-box {
  background-color: red;
  color: #FFF;
  font-size: 2.9vw;
  font-family: "museo500", sans-serif;
  margin: 6vw 0;
  line-height: 12vw;
  text-align: center;
  border-radius: 5px; }
  @media (min-width: 1024px) {
    .val-error-box {
      font-size: 12px;
      line-height: 4.8;
      margin: 0;
      width: 48.8%;
      float: right;
      border-radius: 10px;
      margin-top: 9px; } }

.form-error-message:after {
  content: "";
  display: table;
  clear: both; }

@media (min-width: 1024px) {
  .form-error-message.inner-msg {
    width: 100%;
    position: relative;
    top: -66px;
    left: -383px; }
    .main-08 .form-error-message.inner-msg {
      top: -66px;
      width: 94%; }
    .modulo-main-07 .form-error-message.inner-msg {
      top: -91px; } }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.radio-container {
  color: #044d8b;
  display: block;
  position: relative;
  float: left;
  margin-bottom: 3vw;
  height: 10vw; }
  @media (min-width: 1024px) {
    .radio-container {
      height: 45px;
      margin-bottom: 50px; } }
  .radio-container.last {
    margin-bottom: 10vw; }
    @media (min-width: 1024px) {
      .radio-container.last {
        margin-bottom: 0; } }

.radio-container input[type=radio] {
  position: absolute;
  visibility: hidden; }

.radio-container label {
  display: block;
  position: relative;
  font-size: 3.7vw;
  padding: 0 0 0 11vw;
  margin: 2vw auto;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear; }
  @media (min-width: 1024px) {
    .radio-container label {
      font-size: 19px;
      padding: 0 0 0 60px;
      margin: 13px auto; } }
  @media (min-width: 1024px) {
    .radio-container label.long {
      width: 330px;
      margin: 0; } }

.radio-container .check {
  display: block;
  position: absolute;
  border: 2px solid #044d8b;
  border-radius: 100%;
  height: 8.6vw;
  width: 8.7vw;
  top: 0;
  left: 0;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear; }
  @media (min-width: 1024px) {
    .radio-container .check {
      height: 44px;
      width: 44px; } }

.radio-container .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 3.1vw;
  width: 3.1vw;
  top: 2.4vw;
  left: 2vw;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear; }
  @media (min-width: 1024px) {
    .radio-container .check::before {
      height: 15px;
      width: 15px;
      top: 13px;
      left: 12px; } }

input[type=radio]:checked ~ .check {
  border: 2px solid #044d8b; }

input[type=radio]:checked ~ .check::before {
  background: #044d8b; }

input[type=radio]:checked ~ label {
  color: #044d8b; }

.telefono-tipo-vinculo {
  display: flex;
  justify-content: space-between;
  flex-direction: row; }
  .telefono-tipo-vinculo .inner-dropdown {
    width: 48.8%; }

.modulo-main-carga {
  min-height: 240px; }

.preloader {
  background: #fff;
  border-radius: 20px;
  max-width: 720px;
  margin-top: 10vw;
  padding: 7vw 5vw 7vw; }
  @media (min-width: 760px) {
    .preloader {
      margin-top: 106px;
      padding: 50px 30px 70px; } }
  @media (min-width: 1024px) {
    .preloader {
      margin-top: 36px; } }
  @media (min-width: 1100px) {
    .preloader {
      margin-top: 56px; } }
  .preloader p {
    color: #004990;
    margin-bottom: 30px;
    text-transform: none;
    font-size: 18px; }
  .preloader .loader {
    height: 6px;
    border-radius: 10px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd; }
  .preloader .loader:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 6px;
    background-color: #00acec;
    animation: loading 2s linear infinite; }

@keyframes loading {
  from {
    left: -200px;
    width: 30%; }
  50% {
    width: 30%; }
  70% {
    width: 70%; }
  80% {
    left: 50%; }
  95% {
    left: 120%; }
  to {
    left: 100%; } }

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative; }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0; } }

@keyframes click-wave-shorter {
  0% {
    height: 22px;
    width: 22px;
    opacity: .35;
    position: relative; }
  100% {
    height: 70px;
    width: 70px;
    margin-left: -23px;
    margin-top: -27px;
    opacity: 0;
    border-radius: 12px; } }

.question {
  margin: 7vw 0px;
  width: 100%;
  display: block;
  font-family: 'museo900';
  letter-spacing: -0.4px;
  text-align: left;
  color: #004682; }
  @media (min-width: 1024px) {
    .question {
      margin: 20px 0px 0px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  .question .question-inside {
    display: block; }
    @media (min-width: 1024px) {
      .question .question-inside {
        display: flex; } }
    .question .question-inside label {
      display: block;
      font-size: 4.5vw; }
      @media (min-width: 1024px) {
        .question .question-inside label {
          font-size: 15px; } }
      @media (min-width: 1100px) {
        .question .question-inside label {
          font-size: 16px; } }
  .question .yes, .question .no {
    font-size: 4.5vw; }
    @media (min-width: 320px) {
      .question .yes, .question .no {
        display: inline-block;
        margin-right: 20px; } }
    @media (min-width: 1024px) {
      .question .yes, .question .no {
        display: flex;
        font-size: 15px;
        align-content: center;
        margin-right: 0px; } }
    @media (min-width: 1100px) {
      .question .yes, .question .no {
        font-size: 16px; } }
    .question .yes .answer, .question .no .answer {
      display: flex;
      align-items: center; }
      .question .yes .answer .option-input, .question .no .answer .option-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: relative;
        top: -3px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 40px;
        width: 40px;
        transition: all 0.15s ease-out 0s;
        background: #ffffff;
        border: 3px solid #004682;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        margin-left: 6px;
        outline: none;
        position: relative;
        z-index: 1; }
        .question .yes .answer .option-input.error, .question .no .answer .option-input.error {
          border: 2px solid red; }
        @media (min-width: 760px) {
          .question .yes .answer .option-input, .question .no .answer .option-input {
            height: 50px;
            width: 50px; } }
        @media (min-width: 1024px) {
          .question .yes .answer .option-input, .question .no .answer .option-input {
            height: 39px;
            width: 39px; } }
      .question .yes .answer .option-input:hover, .question .no .answer .option-input:hover {
        opacity: .8; }
      .question .yes .answer .option-input:checked, .question .no .answer .option-input:checked {
        background: #ffffff; }
      .question .yes .answer .option-input:checked::before, .question .no .answer .option-input:checked::before {
        height: 45px;
        width: 45px;
        position: absolute;
        content: '✔';
        display: inline-block;
        font-size: 26.66667px;
        text-align: center;
        line-height: 40px;
        color: #004682;
        right: 4px;
        bottom: -10px; }
      .question .yes .answer .option-input:checked::after, .question .no .answer .option-input:checked::after {
        -webkit-animation: click-wave 0.70s;
        -moz-animation: click-wave 0.70s;
        animation: click-wave 0.70s;
        background: #ffffff;
        content: '';
        display: block;
        position: relative;
        z-index: 100; }
      .question .yes .answer .option-input.radio, .question .no .answer .option-input.radio {
        border-radius: 50%; }
      .question .yes .answer .option-input.radio::after, .question .no .answer .option-input.radio::after {
        border-radius: 50%; }

#terms-out {
  margin-top: 0px; }

select:focus {
  border: 1px solid red; }

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  clear: both;
  color: #044d8b;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 4.25vw;
  font-weight: normal;
  height: 13.87vw;
  line-height: 14.87vw;
  margin-top: 6.5vw;
  outline: none;
  padding-left: 11px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto; }
  @media (min-width: 1024px) {
    .nice-select {
      border-radius: 10px;
      padding-left: 18px; } }
  .nice-select:hover {
    border-color: #dbdbdb; }
  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #044d8b; }
  .nice-select:focus {
    border: 1px solid #044d8b; }
  .nice-select:after {
    border-bottom: 2px solid #044d8b;
    border-right: 2px solid #044d8b;
    content: '';
    display: block;
    height: 4vw;
    margin-top: -3vw;
    pointer-events: none;
    position: absolute;
    right: 5vw;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    width: 4vw; }
    @media (min-width: 1024px) {
      .nice-select:after {
        right: 20px;
        width: 15px;
        height: 15px;
        margin-top: -11px; } }
  .nice-select.open:after {
    transform: rotate(-135deg); }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0); }
  .inner-dropdown .nice-select {
    margin: 0 0 6.5vw; }
    @media (min-width: 1024px) {
      .inner-dropdown .nice-select {
        margin: 0; } }
  .nice-select.disabled {
    border-color: #ededed;
    color: #F1EEEE;
    pointer-events: none; }
    .nice-select.disabled:after {
      border-color: white; }
  .nice-select.wide {
    width: 100%; }
    .nice-select.wide.error {
      border: 2px solid red; }
    @media (min-width: 1024px) {
      .nice-select.wide {
        margin-top: 18px;
        height: 50px;
        width: 48.8%; }
        .nice-select.wide span {
          font-size: 17px;
          line-height: 50px;
          font-family: "museo500", sans-serif; }
        .nice-select.wide.select-sexo .current, .nice-select.wide.select-lugar .current, .nice-select.wide.select-civil .current, .nice-select.wide.select-nacionalidad .current, .nice-select.wide.select-actividad .current {
          font-family: "museo900", sans-serif; } }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important; }
    @media (min-width: 1024px) {
      .inner-dropdown .nice-select.wide {
        width: 100%;
        margin-top: 0; } }
  .nice-select.short-list .list {
    max-height: 30vw; }
    @media (min-width: 1024px) {
      .nice-select.short-list .list {
        max-height: 135px; } }
  .nice-select.light span {
    font-family: "museo500", sans-serif; }
  .nice-select .list {
    background-color: #F1EEEE;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 0;
    opacity: 0;
    overflow: hidden;
    padding: 3vw;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-6.935vw);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
    max-height: 65vw;
    overflow-y: scroll; }
    @media (min-width: 1024px) {
      .nice-select .list {
        max-height: 220px;
        padding: 5px; } }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important; }
  .nice-select .option {
    border-bottom: 1px solid #FFF;
    color: #545454;
    cursor: pointer;
    font-family: "museo500", sans-serif;
    font-weight: 400;
    line-height: 11.87vw;
    list-style: none;
    min-height: 11.87vw;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s; }
    @media (min-width: 1024px) {
      .nice-select .option {
        min-height: 42px;
        line-height: 42px;
        font-size: 15px; } }
    .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
      background-color: #f6f6f6; }
    .nice-select .option.selected {
      font-weight: bold; }
    .nice-select .option.disabled {
      background-color: transparent;
      color: #F1EEEE;
      cursor: default; }

.no-csspointerevents .nice-select .list {
  display: none; }

.no-csspointerevents .nice-select.open .list {
  display: block; }
